# Data Preprocessing

## Imports

In [1]:
from pathlib import Path
import polars as pl

from IPython.display import display

## Constants

In [2]:
RAW_DATA_DIR = Path("..", "data", "parquet")
PROCESSED_DATA_DIR = Path("..", "data", "processed")

PROCESSED_DATA_DIR.joinpath('training').mkdir(exist_ok = True)
PROCESSED_DATA_DIR.joinpath('test').mkdir(exist_ok = True)

RAW_DATA_DIR.exists() and RAW_DATA_DIR.is_dir()

True

## Loading data

### Train fares

In [3]:
def load_parquet_df(df_path: Path):
    df = pl.read_parquet(df_path)

    if '' in df.columns:
        df = df.drop('')

    display(df)
    
    print("Null counts")
    display(df.null_count())

    print("Count of unique values")
    display(
        df.select(pl.all().n_unique())
    )

    print("Duplicated rows")
    display(
        df.filter(
            df.is_duplicated()
        ).sort(df.columns)
    )
    return df

train_fares_df = load_parquet_df(RAW_DATA_DIR.joinpath("training", "train_fares.parquet"))

shape: (2_160_016, 9)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_ci ┆ destinati │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ ty        ┆ on_city   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ ---        ┆ i64        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆ str        ┆            ┆ str       ┆ str       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport4  ┆ Airport43  ┆ L1      ┆ 5911    ┆ … ┆ 2017-11-29 ┆ 538        ┆ City4     ┆ City39    │
│ Airport4  ┆ Airport43  ┆ L1      ┆ 6589    ┆ … ┆ 2017-11-29 ┆ 538        ┆ City4     ┆ City39    │
│ Airport4  ┆ Airport43  ┆ L1      ┆ 2689    ┆ … ┆ 2017-11-29 ┆ 538        ┆ City4     ┆ City39    │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 8244    ┆ … ┆ 2017-11-29 ┆ 557        ┆ City4     ┆ City39    │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 8523    ┆ … ┆ 2017-11-29 ┆ 557        ┆ City4     ┆ City39    │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport20 ┆ Airport4   ┆ L1      ┆ 7431    ┆ … ┆ 2018-09-19 ┆ 737        ┆ City19    ┆ City4     │
│ Airport20 ┆ Airport4   ┆ L1      ┆ 5927    ┆ … ┆ 2018-09-19 ┆ 498        ┆ City19    ┆ City4     │
│ Airport20 ┆ Airport4   ┆ L1      ┆ 7431    ┆ … ┆ 2018-09-19 ┆ 599        ┆ City19    ┆ City4     │
│ Airport20 ┆ Airport4   ┆ L1      ┆ 7434    ┆ … ┆ 2018-09-19 ┆ 1428       ┆ City19    ┆ City4     │
│ Airport20 ┆ Airport4   ┆ L1      ┆ 5927    ┆ … ┆ 2018-09-19 ┆ 916        ┆ City19    ┆ City4     │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

Null counts

shape: (1, 9)
┌────────┬─────────────┬─────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ origin ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_cit ┆ destinatio │
│ ---    ┆ ---         ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ y          ┆ n_city     │
│ u32    ┆ u32         ┆ u32     ┆ u32     ┆   ┆ ---        ┆ u32        ┆ ---        ┆ ---        │
│        ┆             ┆         ┆         ┆   ┆ u32        ┆            ┆ u32        ┆ u32        │
╞════════╪═════════════╪═════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0      ┆ 0           ┆ 0       ┆ 0       ┆ … ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
└────────┴─────────────┴─────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

Count of unique values

shape: (1, 9)
┌────────┬─────────────┬─────────┬─────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ origin ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_cit ┆ destinatio │
│ ---    ┆ ---         ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ y          ┆ n_city     │
│ u32    ┆ u32         ┆ u32     ┆ u32     ┆   ┆ ---        ┆ u32        ┆ ---        ┆ ---        │
│        ┆             ┆         ┆         ┆   ┆ u32        ┆            ┆ u32        ┆ u32        │
╞════════╪═════════════╪═════════╪═════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 8      ┆ 8           ┆ 6       ┆ 788     ┆ … ┆ 399        ┆ 1390       ┆ 8          ┆ 8          │
└────────┴─────────────┴─────────┴─────────┴───┴────────────┴────────────┴────────────┴────────────┘

Duplicated rows

shape: (797_965, 9)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_ci ┆ destinati │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ ty        ┆ on_city   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ ---        ┆ i64        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆ str        ┆            ┆ str       ┆ str       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport17 ┆ Airport4   ┆ L1      ┆ 944     ┆ … ┆ 2018-03-02 ┆ 787        ┆ City17    ┆ City4     │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 944     ┆ … ┆ 2018-03-02 ┆ 787        ┆ City17    ┆ City4     │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 944     ┆ … ┆ 2018-02-24 ┆ 787        ┆ City17    ┆ City4     │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 944     ┆ … ┆ 2018-02-24 ┆ 787        ┆ City17    ┆ City4     │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 944     ┆ … ┆ 2018-02-25 ┆ 787        ┆ City17    ┆ City4     │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 6432    ┆ … ┆ 2018-04-04 ┆ 765        ┆ City56    ┆ City27    │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 6432    ┆ … ┆ 2018-04-04 ┆ 765        ┆ City56    ┆ City27    │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 6432    ┆ … ┆ 2018-04-04 ┆ 765        ┆ City56    ┆ City27    │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 6432    ┆ … ┆ 2018-04-05 ┆ 765        ┆ City56    ┆ City27    │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 6432    ┆ … ┆ 2018-04-05 ┆ 765        ┆ City56    ┆ City27    │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

### Test fares

In [4]:
test_fares_df = load_parquet_df(RAW_DATA_DIR.joinpath("test", "test_fares_data.parquet"))

shape: (29_825, 8)
┌───────────┬─────────────┬─────────┬─────────┬─────────────┬────────────┬────────────┬────────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ flt_departu ┆ observatio ┆ origin_cit ┆ destinatio │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆ re_dt       ┆ n_date     ┆ y          ┆ n_city     │
│ str       ┆ str         ┆ str     ┆ i64     ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│           ┆             ┆         ┆         ┆ str         ┆ str        ┆ str        ┆ str        │
╞═══════════╪═════════════╪═════════╪═════════╪═════════════╪════════════╪════════════╪════════════╡
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7465    ┆ 1/1/2019    ┆ 11/27/2018 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ 1/1/2019    ┆ 11/27/2018 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ 1/1/2019    ┆ 11/27/2018 ┆ City4      ┆ City39     │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 17783   ┆ 1/3/2019    ┆ 11/29/2018 ┆ City39     ┆ City4      │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 5823    ┆ 1/3/2019    ┆ 11/29/2018 ┆ City39     ┆ City4      │
│ …         ┆ …           ┆ …       ┆ …       ┆ …           ┆ …          ┆ …          ┆ …          │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ 1/6/2019    ┆ 12/31/2018 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ 1/6/2019    ┆ 12/31/2018 ┆ City4      ┆ City39     │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1484    ┆ 1/7/2019    ┆ 12/31/2018 ┆ City17     ┆ City4      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 18471   ┆ 1/7/2019    ┆ 12/31/2018 ┆ City17     ┆ City4      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1487    ┆ 1/7/2019    ┆ 12/31/2018 ┆ City17     ┆ City4      │
└───────────┴─────────────┴─────────┴─────────┴─────────────┴────────────┴────────────┴────────────┘

Null counts

shape: (1, 8)
┌────────┬─────────────┬─────────┬─────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ origin ┆ destination ┆ carrier ┆ flt_num ┆ flt_departu ┆ observation ┆ origin_city ┆ destination │
│ ---    ┆ ---         ┆ ---     ┆ ---     ┆ re_dt       ┆ _date       ┆ ---         ┆ _city       │
│ u32    ┆ u32         ┆ u32     ┆ u32     ┆ ---         ┆ ---         ┆ u32         ┆ ---         │
│        ┆             ┆         ┆         ┆ u32         ┆ u32         ┆             ┆ u32         │
╞════════╪═════════════╪═════════╪═════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 0      ┆ 0           ┆ 0       ┆ 0       ┆ 0           ┆ 0           ┆ 0           ┆ 0           │
└────────┴─────────────┴─────────┴─────────┴─────────────┴─────────────┴─────────────┴─────────────┘

Count of unique values

shape: (1, 8)
┌────────┬─────────────┬─────────┬─────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ origin ┆ destination ┆ carrier ┆ flt_num ┆ flt_departu ┆ observation ┆ origin_city ┆ destination │
│ ---    ┆ ---         ┆ ---     ┆ ---     ┆ re_dt       ┆ _date       ┆ ---         ┆ _city       │
│ u32    ┆ u32         ┆ u32     ┆ u32     ┆ ---         ┆ ---         ┆ u32         ┆ ---         │
│        ┆             ┆         ┆         ┆ u32         ┆ u32         ┆             ┆ u32         │
╞════════╪═════════════╪═════════╪═════════╪═════════════╪═════════════╪═════════════╪═════════════╡
│ 8      ┆ 8           ┆ 6       ┆ 225     ┆ 7           ┆ 35          ┆ 8           ┆ 8           │
└────────┴─────────────┴─────────┴─────────┴─────────────┴─────────────┴─────────────┴─────────────┘

Duplicated rows

shape: (0, 8)
┌────────┬─────────────┬─────────┬─────────┬─────────────┬─────────────┬─────────────┬─────────────┐
│ origin ┆ destination ┆ carrier ┆ flt_num ┆ flt_departu ┆ observation ┆ origin_city ┆ destination │
│ ---    ┆ ---         ┆ ---     ┆ ---     ┆ re_dt       ┆ _date       ┆ ---         ┆ _city       │
│ str    ┆ str         ┆ str     ┆ i64     ┆ ---         ┆ ---         ┆ str         ┆ ---         │
│        ┆             ┆         ┆         ┆ str         ┆ str         ┆             ┆ str         │
╞════════╪═════════════╪═════════╪═════════╪═════════════╪═════════════╪═════════════╪═════════════╡
└────────┴─────────────┴─────────┴─────────┴─────────────┴─────────────┴─────────────┴─────────────┘

### Train schedule

In [5]:
train_sch_df = load_parquet_df(RAW_DATA_DIR.joinpath("training", "train_schedules.parquet"))

shape: (63_584, 9)
┌─────────┬─────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destinatio ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depar ┆ flt_arriv │
│ ---     ┆ ---     ┆ ---       ┆ n          ┆   ┆ ure_local_ ┆ l_local_ti ┆ ture_gmt  ┆ al_gmt    │
│ str     ┆ i64     ┆ str       ┆ ---        ┆   ┆ time       ┆ me         ┆ ---       ┆ ---       │
│         ┆         ┆           ┆ str        ┆   ┆ ---        ┆ ---        ┆ str       ┆ str       │
│         ┆         ┆           ┆            ┆   ┆ str        ┆ str        ┆           ┆           │
╞═════════╪═════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ L1      ┆ 6800    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2018-02-01 ┆ 2018-02-01 ┆ 2018-02-0 ┆ 2018-02-0 │
│         ┆         ┆           ┆            ┆   ┆ 18:43:00.0 ┆ 20:09:00.0 ┆ 2 00:43:0 ┆ 2 04:09:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 783     ┆ Airport26 ┆ Airport30  ┆ … ┆ 2018-02-01 ┆ 2018-02-01 ┆ 2018-02-0 ┆ 2018-02-0 │
│         ┆         ┆           ┆            ┆   ┆ 19:45:00.0 ┆ 21:05:00.0 ┆ 2 01:45:0 ┆ 2 05:05:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 799     ┆ Airport26 ┆ Airport30  ┆ … ┆ 2018-02-01 ┆ 2018-02-01 ┆ 2018-02-0 ┆ 2018-02-0 │
│         ┆         ┆           ┆            ┆   ┆ 12:00:00.0 ┆ 13:26:00.0 ┆ 1 18:00:0 ┆ 1 21:26:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2018-02-01 ┆ 2018-02-01 ┆ 2018-02-0 ┆ 2018-02-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:35:00.0 ┆ 09:02:00.0 ┆ 1 13:35:0 ┆ 1 17:02:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 3443    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2018-02-01 ┆ 2018-02-01 ┆ 2018-02-0 ┆ 2018-02-0 │
│         ┆         ┆           ┆            ┆   ┆ 09:48:00.0 ┆ 11:14:00.0 ┆ 1 15:48:0 ┆ 1 19:14:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ …       ┆ …       ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ L1      ┆ 5675    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-10-31 ┆ 2018-10-31 ┆ 2018-10-3 ┆ 2018-10-3 │
│         ┆         ┆           ┆            ┆   ┆ 13:17:00.0 ┆ 14:53:00.0 ┆ 1 20:17:0 ┆ 1 21:53:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ U1      ┆ 6115    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-10-31 ┆ 2018-10-31 ┆ 2018-10-3 ┆ 2018-10-3 │
│         ┆         ┆           ┆            ┆   ┆ 06:50:00.0 ┆ 08:24:00.0 ┆ 1 13:50:0 ┆ 1 15:24:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ U1      ┆ 6184    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-10-31 ┆ 2018-10-31 ┆ 2018-11-0 ┆ 2018-11-0 │
│         ┆         ┆           ┆            ┆   ┆ 20:20:00.0 ┆ 22:02:00.0 ┆ 1 03:20:0 ┆ 1 05:02:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 7010    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-10-31 ┆ 2018-10-31 ┆ 2018-10-3 ┆ 2018-10-3 │
│         ┆         ┆           ┆            ┆   ┆ 08:45:00.0 ┆ 10:20:00.0 ┆ 1 15:45:0 ┆ 1 17:20:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 1292    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-10-31 ┆ 2018-10-31 ┆ 2018-10-3 ┆ 2018-11-0 │
│         ┆         ┆           ┆            ┆   ┆ 16:53:00.0 ┆ 18:32:00.0 ┆ 1 23:53:0 ┆ 1 01:32:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
└─────────┴─────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

Null counts

shape: (1, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ u32     ┆ u32     ┆ u32    ┆ u32         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ u32        ┆ u32        │
│         ┆         ┆        ┆             ┆   ┆ u32        ┆ u32        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0       ┆ 0       ┆ 0      ┆ 0           ┆ … ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

Count of unique values

shape: (1, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ u32     ┆ u32     ┆ u32    ┆ u32         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ u32        ┆ u32        │
│         ┆         ┆        ┆             ┆   ┆ u32        ┆ u32        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 6       ┆ 2084    ┆ 8      ┆ 8           ┆ … ┆ 50747      ┆ 56523      ┆ 51015      ┆ 57113      │
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

Duplicated rows

shape: (0, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ str     ┆ i64     ┆ str    ┆ str         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ str        ┆ str        │
│         ┆         ┆        ┆             ┆   ┆ str        ┆ str        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

### Test schedule

In [6]:
test_sch_df = load_parquet_df(RAW_DATA_DIR.joinpath("test", "test_schedules.parquet"))

shape: (1_234, 9)
┌─────────┬─────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destinatio ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depar ┆ flt_arriv │
│ ---     ┆ ---     ┆ ---       ┆ n          ┆   ┆ ure_local_ ┆ l_local_ti ┆ ture_gmt  ┆ al_gmt    │
│ str     ┆ i64     ┆ str       ┆ ---        ┆   ┆ time       ┆ me         ┆ ---       ┆ ---       │
│         ┆         ┆           ┆ str        ┆   ┆ ---        ┆ ---        ┆ str       ┆ str       │
│         ┆         ┆           ┆            ┆   ┆ str        ┆ str        ┆           ┆           │
╞═════════╪═════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ L1      ┆ 3437    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 18:28:00.0 ┆ 19:49:00.0 ┆ 2 00:28:0 ┆ 2 03:49:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:50:00.0 ┆ 09:12:00.0 ┆ 1 13:50:0 ┆ 1 17:12:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 1609    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 11:55:00.0 ┆ 13:19:00.0 ┆ 1 17:55:0 ┆ 1 21:19:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 1487    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 14:20:00.0 ┆ 15:41:00.0 ┆ 1 20:20:0 ┆ 1 23:41:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 5701    ┆ Airport26 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:05:00.0 ┆ 23:26:00.0 ┆ 2 04:05:0 ┆ 2 07:26:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ …       ┆ …       ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ L2      ┆ 3795    ┆ Airport43 ┆ Airport4   ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 17:55:00.0 ┆ 20:42:00.0 ┆ 7 23:55:0 ┆ 8 02:42:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 1763    ┆ Airport43 ┆ Airport4   ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 19:49:00.0 ┆ 22:47:00.0 ┆ 8 01:49:0 ┆ 8 04:47:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 11466   ┆ Airport43 ┆ Airport4   ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:48:00.0 ┆ 10:50:00.0 ┆ 7 13:48:0 ┆ 7 16:50:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L2      ┆ 8018    ┆ Airport43 ┆ Airport4   ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 09:56:00.0 ┆ 12:47:00.0 ┆ 7 15:56:0 ┆ 7 18:47:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ L1      ┆ 5823    ┆ Airport43 ┆ Airport4   ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 15:55:00.0 ┆ 18:51:00.0 ┆ 7 21:55:0 ┆ 8 00:51:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
└─────────┴─────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

Null counts

shape: (1, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ u32     ┆ u32     ┆ u32    ┆ u32         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ u32        ┆ u32        │
│         ┆         ┆        ┆             ┆   ┆ u32        ┆ u32        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 0       ┆ 0       ┆ 0      ┆ 0           ┆ … ┆ 0          ┆ 0          ┆ 0          ┆ 0          │
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

Count of unique values

shape: (1, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ u32     ┆ u32     ┆ u32    ┆ u32         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ u32        ┆ u32        │
│         ┆         ┆        ┆             ┆   ┆ u32        ┆ u32        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
│ 6       ┆ 445     ┆ 8      ┆ 8           ┆ … ┆ 1016       ┆ 1106       ┆ 1019       ┆ 1105       │
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

Duplicated rows

shape: (0, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ str     ┆ i64     ┆ str    ┆ str         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ str        ┆ str        │
│         ┆         ┆        ┆             ┆   ┆ str        ┆ str        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

### Services index

In [7]:
services_df = load_parquet_df(RAW_DATA_DIR.joinpath("training", "service_index.parquet"))

shape: (18_657, 7)
┌──────┬─────┬───────────┬─────────────┬─────────┬───────────────┬──────────────┐
│ yr   ┆ mo  ┆ origin    ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share │
│ ---  ┆ --- ┆ ---       ┆ ---         ┆ ---     ┆ ---           ┆ ---          │
│ i64  ┆ i64 ┆ str       ┆ str         ┆ str     ┆ i64           ┆ i64          │
╞══════╪═════╪═══════════╪═════════════╪═════════╪═══════════════╪══════════════╡
│ 2017 ┆ 12  ┆ Airport10 ┆ Airport31   ┆ U2      ┆ 2820          ┆ 160          │
│ 2017 ┆ 12  ┆ Airport10 ┆ Airport43   ┆ L3      ┆ 1708          ┆ 169          │
│ 2017 ┆ 12  ┆ Airport10 ┆ Airport60   ┆ L2      ┆ 1071          ┆ 180          │
│ 2017 ┆ 12  ┆ Airport16 ┆ Airport60   ┆ U1      ┆ 1633          ┆ 160          │
│ 2017 ┆ 12  ┆ Airport17 ┆ Airport1    ┆ OTH     ┆ 988           ┆ 275          │
│ …    ┆ …   ┆ …         ┆ …           ┆ …       ┆ …             ┆ …            │
│ 2018 ┆ 12  ┆ Airport63 ┆ Airport31   ┆ L2      ┆ 3193          ┆ 224          │
│ 2018 ┆ 12  ┆ Airport63 ┆ Airport43   ┆ U1      ┆ 765           ┆ 161          │
│ 2018 ┆ 12  ┆ Airport64 ┆ Airport17   ┆ OTH     ┆ 2912          ┆ 313          │
│ 2018 ┆ 12  ┆ Airport66 ┆ Airport43   ┆ L3      ┆ 3374          ┆ 168          │
│ 2018 ┆ 12  ┆ Airport8  ┆ Airport20   ┆ U2      ┆ 2600          ┆ 279          │
└──────┴─────┴───────────┴─────────────┴─────────┴───────────────┴──────────────┘

Null counts

shape: (1, 7)
┌─────┬─────┬────────┬─────────────┬─────────┬───────────────┬──────────────┐
│ yr  ┆ mo  ┆ origin ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share │
│ --- ┆ --- ┆ ---    ┆ ---         ┆ ---     ┆ ---           ┆ ---          │
│ u32 ┆ u32 ┆ u32    ┆ u32         ┆ u32     ┆ u32           ┆ u32          │
╞═════╪═════╪════════╪═════════════╪═════════╪═══════════════╪══════════════╡
│ 0   ┆ 0   ┆ 0      ┆ 0           ┆ 0       ┆ 0             ┆ 0            │
└─────┴─────┴────────┴─────────────┴─────────┴───────────────┴──────────────┘

Count of unique values

shape: (1, 7)
┌─────┬─────┬────────┬─────────────┬─────────┬───────────────┬──────────────┐
│ yr  ┆ mo  ┆ origin ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share │
│ --- ┆ --- ┆ ---    ┆ ---         ┆ ---     ┆ ---           ┆ ---          │
│ u32 ┆ u32 ┆ u32    ┆ u32         ┆ u32     ┆ u32           ┆ u32          │
╞═════╪═════╪════════╪═════════════╪═════════╪═══════════════╪══════════════╡
│ 2   ┆ 12  ┆ 66     ┆ 66          ┆ 7       ┆ 1563          ┆ 313          │
└─────┴─────┴────────┴─────────────┴─────────┴───────────────┴──────────────┘

Duplicated rows

shape: (0, 7)
┌─────┬─────┬────────┬─────────────┬─────────┬───────────────┬──────────────┐
│ yr  ┆ mo  ┆ origin ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share │
│ --- ┆ --- ┆ ---    ┆ ---         ┆ ---     ┆ ---           ┆ ---          │
│ i64 ┆ i64 ┆ str    ┆ str         ┆ str     ┆ i64           ┆ i64          │
╞═════╪═════╪════════╪═════════════╪═════════╪═══════════════╪══════════════╡
└─────┴─────┴────────┴─────────────┴─────────┴───────────────┴──────────────┘

## Preprocessing

### Duplicates

In [8]:
train_fares_df = train_fares_df.unique()
train_fares_df

shape: (1_697_443, 9)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_ci ┆ destinati │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ ty        ┆ on_city   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ ---        ┆ i64        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆ str        ┆            ┆ str       ┆ str       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport20 ┆ Airport4   ┆ L1      ┆ 5927    ┆ … ┆ 2018-03-12 ┆ 1626       ┆ City19    ┆ City4     │
│ Airport31 ┆ Airport30  ┆ L2      ┆ 1480    ┆ … ┆ 2018-04-13 ┆ 407        ┆ City28    ┆ City27    │
│ Airport30 ┆ Airport31  ┆ U1      ┆ 4815    ┆ … ┆ 2018-07-07 ┆ 316        ┆ City27    ┆ City28    │
│ Airport30 ┆ Airport26  ┆ L1      ┆ 5663    ┆ … ┆ 2018-08-04 ┆ 630        ┆ City27    ┆ City24    │
│ Airport31 ┆ Airport30  ┆ OTH     ┆ 1923    ┆ … ┆ 2018-04-10 ┆ 331        ┆ City28    ┆ City27    │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport60 ┆ Airport30  ┆ L1      ┆ 2297    ┆ … ┆ 2018-01-18 ┆ 469        ┆ City56    ┆ City27    │
│ Airport30 ┆ Airport31  ┆ L3      ┆ 2837    ┆ … ┆ 2018-06-12 ┆ 592        ┆ City27    ┆ City28    │
│ Airport30 ┆ Airport60  ┆ L1      ┆ 1575    ┆ … ┆ 2018-02-23 ┆ 803        ┆ City27    ┆ City56    │
│ Airport4  ┆ Airport17  ┆ L1      ┆ 4781    ┆ … ┆ 2018-05-19 ┆ 1051       ┆ City4     ┆ City17    │
│ Airport30 ┆ Airport31  ┆ L2      ┆ 7220    ┆ … ┆ 2018-08-06 ┆ 395        ┆ City27    ┆ City28    │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [9]:
train_sch_df.filter(
    train_sch_df.select(
        ['flt_departure_dt', 'carrier', 'flt_num', 'origin', 'destination']
    ).is_duplicated()
).sort('flt_departure_local_time')

shape: (44, 9)
┌─────────┬─────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destinatio ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depar ┆ flt_arriv │
│ ---     ┆ ---     ┆ ---       ┆ n          ┆   ┆ ure_local_ ┆ l_local_ti ┆ ture_gmt  ┆ al_gmt    │
│ str     ┆ i64     ┆ str       ┆ ---        ┆   ┆ time       ┆ me         ┆ ---       ┆ ---       │
│         ┆         ┆           ┆ str        ┆   ┆ ---        ┆ ---        ┆ str       ┆ str       │
│         ┆         ┆           ┆            ┆   ┆ str        ┆ str        ┆           ┆           │
╞═════════╪═════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-03-08 ┆ 2018-03-08 ┆ 2018-03-0 ┆ 2018-03-0 │
│         ┆         ┆           ┆            ┆   ┆ 06:45:00.0 ┆ 08:10:00.0 ┆ 8 14:45:0 ┆ 8 16:10:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-03-08 ┆ 2018-03-08 ┆ 2018-03-0 ┆ 2018-03-0 │
│         ┆         ┆           ┆            ┆   ┆ 12:05:00.0 ┆ 13:36:00.0 ┆ 8 20:05:0 ┆ 8 21:36:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-03-09 ┆ 2018-03-09 ┆ 2018-03-0 ┆ 2018-03-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:05:00.0 ┆ 08:30:00.0 ┆ 9 15:05:0 ┆ 9 16:30:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-03-09 ┆ 2018-03-09 ┆ 2018-03-0 ┆ 2018-03-0 │
│         ┆         ┆           ┆            ┆   ┆ 12:05:00.0 ┆ 13:36:00.0 ┆ 9 20:05:0 ┆ 9 21:36:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-03-12 ┆ 2018-03-12 ┆ 2018-03-1 ┆ 2018-03-1 │
│         ┆         ┆           ┆            ┆   ┆ 07:05:00.0 ┆ 08:30:00.0 ┆ 2 14:05:0 ┆ 2 15:30:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ …       ┆ …       ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-04-04 ┆ 2018-04-04 ┆ 2018-04-0 ┆ 2018-04-0 │
│         ┆         ┆           ┆            ┆   ┆ 11:20:00.0 ┆ 12:53:00.0 ┆ 4 18:20:0 ┆ 4 19:53:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-04-05 ┆ 2018-04-05 ┆ 2018-04-0 ┆ 2018-04-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:05:00.0 ┆ 08:30:00.0 ┆ 5 14:05:0 ┆ 5 15:30:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-04-05 ┆ 2018-04-05 ┆ 2018-04-0 ┆ 2018-04-0 │
│         ┆         ┆           ┆            ┆   ┆ 11:20:00.0 ┆ 12:53:00.0 ┆ 5 18:20:0 ┆ 5 19:53:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-04-06 ┆ 2018-04-06 ┆ 2018-04-0 ┆ 2018-04-0 │
│         ┆         ┆           ┆            ┆   ┆ 07:05:00.0 ┆ 08:30:00.0 ┆ 6 14:05:0 ┆ 6 15:30:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
│ OTH     ┆ 6112    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-04-06 ┆ 2018-04-06 ┆ 2018-04-0 ┆ 2018-04-0 │
│         ┆         ┆           ┆            ┆   ┆ 11:20:00.0 ┆ 12:53:00.0 ┆ 6 18:20:0 ┆ 6 19:53:0 │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 0.0       ┆ 0.0       │
└─────────┴─────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [10]:
train_sch_df.filter(
    train_sch_df.select(
        ['flt_departure_dt', 'carrier', 'flt_num', 'origin', 'destination']
    ).is_duplicated()
)['flt_num'].value_counts()

shape: (1, 2)
┌─────────┬───────┐
│ flt_num ┆ count │
│ ---     ┆ ---   │
│ i64     ┆ u32   │
╞═════════╪═══════╡
│ 6112    ┆ 44    │
└─────────┴───────┘

In [11]:
test_sch_df.filter(
    test_sch_df.select(
        ['flt_departure_dt', 'carrier', 'flt_num', 'origin', 'destination']
    ).is_duplicated()
).sort('flt_departure_local_time')

shape: (0, 9)
┌─────────┬─────────┬────────┬─────────────┬───┬────────────┬────────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depart ┆ flt_arriva │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ure_local_ ┆ l_local_ti ┆ ure_gmt    ┆ l_gmt      │
│ str     ┆ i64     ┆ str    ┆ str         ┆   ┆ time       ┆ me         ┆ ---        ┆ ---        │
│         ┆         ┆        ┆             ┆   ┆ ---        ┆ ---        ┆ str        ┆ str        │
│         ┆         ┆        ┆             ┆   ┆ str        ┆ str        ┆            ┆            │
╞═════════╪═════════╪════════╪═════════════╪═══╪════════════╪════════════╪════════════╪════════════╡
└─────────┴─────────┴────────┴─────────────┴───┴────────────┴────────────┴────────────┴────────────┘

### Datetime formatting

[Chrono format specification](https://docs.rs/chrono/latest/chrono/format/strftime/index.html)

In [12]:
train_fares_df = train_fares_df.with_columns(
    pl.col(
        ['flt_departure_dt', 'observation_date']
    ).str.strptime(
        pl.Date,
        format = r"%Y-%m-%d"
    )
)
train_fares_df.sort('flt_departure_dt')

shape: (1_697_443, 9)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ total_fare ┆ origin_ci ┆ destinati │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ ---        ┆ ty        ┆ on_city   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ ---        ┆ i64        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆ date       ┆            ┆ str       ┆ str       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport60 ┆ Airport30  ┆ L1      ┆ 4837    ┆ … ┆ 2017-12-17 ┆ 397        ┆ City56    ┆ City27    │
│ Airport60 ┆ Airport30  ┆ U1      ┆ 6187    ┆ … ┆ 2017-12-26 ┆ 391        ┆ City56    ┆ City27    │
│ Airport31 ┆ Airport30  ┆ L2      ┆ 1355    ┆ … ┆ 2017-12-15 ┆ 482        ┆ City28    ┆ City27    │
│ Airport4  ┆ Airport20  ┆ L1      ┆ 4859    ┆ … ┆ 2017-12-24 ┆ 1656       ┆ City4     ┆ City19    │
│ Airport60 ┆ Airport30  ┆ U3      ┆ 3763    ┆ … ┆ 2017-12-12 ┆ 294        ┆ City56    ┆ City27    │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport31 ┆ Airport30  ┆ L1      ┆ 1826    ┆ … ┆ 2018-11-25 ┆ 511        ┆ City28    ┆ City27    │
│ Airport31 ┆ Airport30  ┆ L1      ┆ 5817    ┆ … ┆ 2018-12-19 ┆ 448        ┆ City28    ┆ City27    │
│ Airport30 ┆ Airport31  ┆ U1      ┆ 4840    ┆ … ┆ 2018-12-08 ┆ 630        ┆ City27    ┆ City28    │
│ Airport31 ┆ Airport30  ┆ L3      ┆ 18094   ┆ … ┆ 2018-12-14 ┆ 552        ┆ City28    ┆ City27    │
│ Airport30 ┆ Airport60  ┆ L1      ┆ 5330    ┆ … ┆ 2018-12-20 ┆ 658        ┆ City27    ┆ City56    │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [13]:
test_fares_df = test_fares_df.with_columns(
    pl.col(
        ['flt_departure_dt', 'observation_date']
    ).str.strptime(
        pl.Date,
        format = r"%-m/%-d/%Y"
    )
)
test_fares_df.sort('flt_departure_dt')

shape: (29_825, 8)
┌───────────┬─────────────┬─────────┬─────────┬─────────────┬────────────┬────────────┬────────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ flt_departu ┆ observatio ┆ origin_cit ┆ destinatio │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆ re_dt       ┆ n_date     ┆ y          ┆ n_city     │
│ str       ┆ str         ┆ str     ┆ i64     ┆ ---         ┆ ---        ┆ ---        ┆ ---        │
│           ┆             ┆         ┆         ┆ date        ┆ date       ┆ str        ┆ str        │
╞═══════════╪═════════════╪═════════╪═════════╪═════════════╪════════════╪════════════╪════════════╡
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7465    ┆ 2019-01-01  ┆ 2018-11-27 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ 2019-01-01  ┆ 2018-11-27 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ 2019-01-01  ┆ 2018-11-27 ┆ City4      ┆ City39     │
│ Airport4  ┆ Airport17   ┆ U3      ┆ 752     ┆ 2019-01-01  ┆ 2018-11-30 ┆ City4      ┆ City17     │
│ Airport60 ┆ Airport30   ┆ U1      ┆ 6131    ┆ 2019-01-01  ┆ 2018-11-28 ┆ City56     ┆ City27     │
│ …         ┆ …           ┆ …       ┆ …       ┆ …           ┆ …          ┆ …          ┆ …          │
│ Airport30 ┆ Airport31   ┆ L2      ┆ 1732    ┆ 2019-01-07  ┆ 2018-12-31 ┆ City27     ┆ City28     │
│ Airport30 ┆ Airport31   ┆ L2      ┆ 1741    ┆ 2019-01-07  ┆ 2018-12-31 ┆ City27     ┆ City28     │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1484    ┆ 2019-01-07  ┆ 2018-12-31 ┆ City17     ┆ City4      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 18471   ┆ 2019-01-07  ┆ 2018-12-31 ┆ City17     ┆ City4      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1487    ┆ 2019-01-07  ┆ 2018-12-31 ┆ City17     ┆ City4      │
└───────────┴─────────────┴─────────┴─────────┴─────────────┴────────────┴────────────┴────────────┘

In [14]:
train_sch_df = train_sch_df.with_columns(
    pl.col('flt_departure_dt').str.strptime(
        pl.Date,
        format = r"%Y-%m-%d"
    ),
    pl.col(
        ['flt_departure_local_time', 'flt_arrival_local_time', 'flt_departure_gmt', 'flt_arrival_gmt']
    ).str.strptime(
        pl.Datetime,
        format = r"%Y-%m-%d %H:%M:%S%.f"
    )
)
train_sch_df.sort('flt_departure_local_time')

shape: (63_584, 9)
┌─────────┬─────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destinatio ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depar ┆ flt_arriv │
│ ---     ┆ ---     ┆ ---       ┆ n          ┆   ┆ ure_local_ ┆ l_local_ti ┆ ture_gmt  ┆ al_gmt    │
│ str     ┆ i64     ┆ str       ┆ ---        ┆   ┆ time       ┆ me         ┆ ---       ┆ ---       │
│         ┆         ┆           ┆ str        ┆   ┆ ---        ┆ ---        ┆ datetime[ ┆ datetime[ │
│         ┆         ┆           ┆            ┆   ┆ datetime[n ┆ datetime[n ┆ ns]       ┆ ns]       │
│         ┆         ┆           ┆            ┆   ┆ s]         ┆ s]         ┆           ┆           │
╞═════════╪═════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ L1      ┆ 2149    ┆ Airport30 ┆ Airport26  ┆ … ┆ 2018-01-01 ┆ 2018-01-01 ┆ 2018-01-0 ┆ 2018-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 01:00:00   ┆ 05:47:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 09:00:00  ┆ 11:47:00  │
│ OTH     ┆ 5782    ┆ Airport20 ┆ Airport4   ┆ … ┆ 2018-01-01 ┆ 2018-01-01 ┆ 2018-01-0 ┆ 2018-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:15:00   ┆ 08:35:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 10:15:00  ┆ 14:35:00  │
│ OTH     ┆ 5792    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2018-01-01 ┆ 2018-01-01 ┆ 2018-01-0 ┆ 2018-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:15:00   ┆ 06:50:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:15:00  ┆ 14:50:00  │
│ L1      ┆ 1176    ┆ Airport30 ┆ Airport31  ┆ … ┆ 2018-01-01 ┆ 2018-01-01 ┆ 2018-01-0 ┆ 2018-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:31:00   ┆ 07:02:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:31:00  ┆ 15:02:00  │
│ OTH     ┆ 6068    ┆ Airport30 ┆ Airport31  ┆ … ┆ 2018-01-01 ┆ 2018-01-01 ┆ 2018-01-0 ┆ 2018-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:40:00   ┆ 06:50:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:40:00  ┆ 14:50:00  │
│ …       ┆ …       ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ OTH     ┆ 2416    ┆ Airport30 ┆ Airport31  ┆ … ┆ 2018-12-31 ┆ 2018-12-31 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 20:35:00   ┆ 21:51:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 04:35:00  ┆ 05:51:00  │
│ L2      ┆ 1741    ┆ Airport30 ┆ Airport31  ┆ … ┆ 2018-12-31 ┆ 2018-12-31 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 20:50:00   ┆ 22:14:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 04:50:00  ┆ 06:14:00  │
│ U1      ┆ 6175    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-12-31 ┆ 2018-12-31 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 21:30:00   ┆ 23:04:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 05:30:00  ┆ 07:04:00  │
│ L2      ┆ 8903    ┆ Airport31 ┆ Airport30  ┆ … ┆ 2018-12-31 ┆ 2018-12-31 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:40:00   ┆ 23:53:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 06:40:00  ┆ 07:53:00  │
│ L1      ┆ 7588    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2018-12-31 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:52:00   ┆ 00:26:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 06:52:00  ┆ 08:26:00  │
└─────────┴─────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [15]:
test_sch_df = test_sch_df.with_columns(
    pl.col('flt_departure_dt').str.strptime(
        pl.Date,
        format = r"%Y-%m-%d"
    ),
    pl.col(
        ['flt_departure_local_time', 'flt_arrival_local_time', 'flt_departure_gmt', 'flt_arrival_gmt']
    ).str.strptime(
        pl.Datetime,
        format = r"%Y-%m-%d %H:%M:%S%.f"
    )
)
test_sch_df.sort('flt_departure_local_time')

shape: (1_234, 9)
┌─────────┬─────────┬───────────┬────────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destinatio ┆ … ┆ flt_depart ┆ flt_arriva ┆ flt_depar ┆ flt_arriv │
│ ---     ┆ ---     ┆ ---       ┆ n          ┆   ┆ ure_local_ ┆ l_local_ti ┆ ture_gmt  ┆ al_gmt    │
│ str     ┆ i64     ┆ str       ┆ ---        ┆   ┆ time       ┆ me         ┆ ---       ┆ ---       │
│         ┆         ┆           ┆ str        ┆   ┆ ---        ┆ ---        ┆ datetime[ ┆ datetime[ │
│         ┆         ┆           ┆            ┆   ┆ datetime[n ┆ datetime[n ┆ ns]       ┆ ns]       │
│         ┆         ┆           ┆            ┆   ┆ s]         ┆ s]         ┆           ┆           │
╞═════════╪═════════╪═══════════╪════════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ L1      ┆ 2149    ┆ Airport30 ┆ Airport26  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 01:00:00   ┆ 05:53:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 09:00:00  ┆ 11:53:00  │
│ OTH     ┆ 4611    ┆ Airport31 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:20:00   ┆ 06:25:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:20:00  ┆ 14:25:00  │
│ OTH     ┆ 10071   ┆ Airport60 ┆ Airport30  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:20:00   ┆ 06:45:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:20:00  ┆ 14:45:00  │
│ OTH     ┆ 5770    ┆ Airport30 ┆ Airport60  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:30:00   ┆ 07:00:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 13:30:00  ┆ 15:00:00  │
│ OTH     ┆ 5327    ┆ Airport4  ┆ Airport20  ┆ … ┆ 2019-01-01 ┆ 2019-01-01 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 05:35:00   ┆ 10:05:00   ┆ 1         ┆ 1         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 11:35:00  ┆ 15:05:00  │
│ …       ┆ …       ┆ …         ┆ …          ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ L2      ┆ 8903    ┆ Airport31 ┆ Airport30  ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:40:00   ┆ 23:52:00   ┆ 8         ┆ 8         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 06:40:00  ┆ 07:52:00  │
│ L1      ┆ 4934    ┆ Airport31 ┆ Airport30  ┆ … ┆ 2019-01-07 ┆ 2019-01-07 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:45:00   ┆ 23:58:00   ┆ 8         ┆ 8         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 06:45:00  ┆ 07:58:00  │
│ L1      ┆ 7588    ┆ Airport60 ┆ Airport30  ┆ … ┆ 2019-01-07 ┆ 2019-01-08 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 22:50:00   ┆ 00:28:00   ┆ 8         ┆ 8         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 06:50:00  ┆ 08:28:00  │
│ L1      ┆ 5581    ┆ Airport30 ┆ Airport31  ┆ … ┆ 2019-01-07 ┆ 2019-01-08 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 23:00:00   ┆ 00:23:00   ┆ 8         ┆ 8         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 07:00:00  ┆ 08:23:00  │
│ L1      ┆ 18298   ┆ Airport30 ┆ Airport60  ┆ … ┆ 2019-01-07 ┆ 2019-01-08 ┆ 2019-01-0 ┆ 2019-01-0 │
│         ┆         ┆           ┆            ┆   ┆ 23:00:00   ┆ 00:44:00   ┆ 8         ┆ 8         │
│         ┆         ┆           ┆            ┆   ┆            ┆            ┆ 07:00:00  ┆ 08:44:00  │
└─────────┴─────────┴───────────┴────────────┴───┴────────────┴────────────┴───────────┴───────────┘

### Datetime features

#### Days till flight

Number of days between the `flt_departure_dt` and `days_till_flight`

In [16]:
train_fares_df = train_fares_df.with_columns(
    (
        pl.col('flt_departure_dt') - pl.col('observation_date')
    ).dt.total_days().cast(pl.Int16()).alias("days_till_flight")
)

train_fares_df

shape: (1_697_443, 10)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ total_fare ┆ origin_cit ┆ destinati ┆ days_till │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ ---        ┆ y          ┆ on_city   ┆ _flight   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ i64        ┆ ---        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆            ┆ str        ┆ str       ┆ i16       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport20 ┆ Airport4   ┆ L1      ┆ 5927    ┆ … ┆ 1626       ┆ City19     ┆ City4     ┆ 0         │
│ Airport31 ┆ Airport30  ┆ L2      ┆ 1480    ┆ … ┆ 407        ┆ City28     ┆ City27    ┆ 20        │
│ Airport30 ┆ Airport31  ┆ U1      ┆ 4815    ┆ … ┆ 316        ┆ City27     ┆ City28    ┆ 10        │
│ Airport30 ┆ Airport26  ┆ L1      ┆ 5663    ┆ … ┆ 630        ┆ City27     ┆ City24    ┆ 35        │
│ Airport31 ┆ Airport30  ┆ OTH     ┆ 1923    ┆ … ┆ 331        ┆ City28     ┆ City27    ┆ 20        │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport60 ┆ Airport30  ┆ L1      ┆ 2297    ┆ … ┆ 469        ┆ City56     ┆ City27    ┆ 0         │
│ Airport30 ┆ Airport31  ┆ L3      ┆ 2837    ┆ … ┆ 592        ┆ City27     ┆ City28    ┆ 5         │
│ Airport30 ┆ Airport60  ┆ L1      ┆ 1575    ┆ … ┆ 803        ┆ City27     ┆ City56    ┆ 30        │
│ Airport4  ┆ Airport17  ┆ L1      ┆ 4781    ┆ … ┆ 1051       ┆ City4      ┆ City17    ┆ 1         │
│ Airport30 ┆ Airport31  ┆ L2      ┆ 7220    ┆ … ┆ 395        ┆ City27     ┆ City28    ┆ 3         │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

In [17]:
test_fares_df = test_fares_df.with_columns(
    (
        pl.col('flt_departure_dt') - pl.col('observation_date')
    ).dt.total_days().cast(pl.Int16()).alias("days_till_flight")
)
test_fares_df

shape: (29_825, 9)
┌───────────┬────────────┬─────────┬─────────┬───┬────────────┬────────────┬───────────┬───────────┐
│ origin    ┆ destinatio ┆ carrier ┆ flt_num ┆ … ┆ observatio ┆ origin_cit ┆ destinati ┆ days_till │
│ ---       ┆ n          ┆ ---     ┆ ---     ┆   ┆ n_date     ┆ y          ┆ on_city   ┆ _flight   │
│ str       ┆ ---        ┆ str     ┆ i64     ┆   ┆ ---        ┆ ---        ┆ ---       ┆ ---       │
│           ┆ str        ┆         ┆         ┆   ┆ date       ┆ str        ┆ str       ┆ i16       │
╞═══════════╪════════════╪═════════╪═════════╪═══╪════════════╪════════════╪═══════════╪═══════════╡
│ Airport4  ┆ Airport43  ┆ L2      ┆ 7465    ┆ … ┆ 2018-11-27 ┆ City4      ┆ City39    ┆ 35        │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 7067    ┆ … ┆ 2018-11-27 ┆ City4      ┆ City39    ┆ 35        │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 1232    ┆ … ┆ 2018-11-27 ┆ City4      ┆ City39    ┆ 35        │
│ Airport43 ┆ Airport4   ┆ L1      ┆ 17783   ┆ … ┆ 2018-11-29 ┆ City39     ┆ City4     ┆ 35        │
│ Airport43 ┆ Airport4   ┆ L1      ┆ 5823    ┆ … ┆ 2018-11-29 ┆ City39     ┆ City4     ┆ 35        │
│ …         ┆ …          ┆ …       ┆ …       ┆ … ┆ …          ┆ …          ┆ …         ┆ …         │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 7067    ┆ … ┆ 2018-12-31 ┆ City4      ┆ City39    ┆ 6         │
│ Airport4  ┆ Airport43  ┆ L2      ┆ 1232    ┆ … ┆ 2018-12-31 ┆ City4      ┆ City39    ┆ 6         │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 1484    ┆ … ┆ 2018-12-31 ┆ City17     ┆ City4     ┆ 7         │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 18471   ┆ … ┆ 2018-12-31 ┆ City17     ┆ City4     ┆ 7         │
│ Airport17 ┆ Airport4   ┆ L1      ┆ 1487    ┆ … ┆ 2018-12-31 ┆ City17     ┆ City4     ┆ 7         │
└───────────┴────────────┴─────────┴─────────┴───┴────────────┴────────────┴───────────┴───────────┘

#### Flight duration and timezone

In [18]:
train_sch_df = train_sch_df.with_columns(
    (
        pl.col('flt_arrival_local_time') - pl.col('flt_departure_local_time')
    ).dt.total_minutes().cast(pl.Int16()).alias("dur_min")
)
train_sch_df = train_sch_df.with_columns(
    (
        pl.col('flt_departure_local_time') - pl.col('flt_departure_gmt')
    ).dt.total_minutes().cast(pl.Int16()).alias("tz_min")
)
train_sch_df

shape: (63_584, 11)
┌─────────┬─────────┬───────────┬─────────────┬───┬──────────────┬──────────────┬─────────┬────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ flt_departur ┆ flt_arrival_ ┆ dur_min ┆ tz_min │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ e_gmt        ┆ gmt          ┆ ---     ┆ ---    │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ ---          ┆ ---          ┆ i16     ┆ i16    │
│         ┆         ┆           ┆             ┆   ┆ datetime[ns] ┆ datetime[ns] ┆         ┆        │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪══════════════╪══════════════╪═════════╪════════╡
│ L1      ┆ 6800    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2018-02-02   ┆ 2018-02-02   ┆ 86      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 00:43:00     ┆ 04:09:00     ┆         ┆        │
│ OTH     ┆ 783     ┆ Airport26 ┆ Airport30   ┆ … ┆ 2018-02-02   ┆ 2018-02-02   ┆ 80      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 01:45:00     ┆ 05:05:00     ┆         ┆        │
│ L1      ┆ 799     ┆ Airport26 ┆ Airport30   ┆ … ┆ 2018-02-01   ┆ 2018-02-01   ┆ 86      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 18:00:00     ┆ 21:26:00     ┆         ┆        │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2018-02-01   ┆ 2018-02-01   ┆ 87      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 13:35:00     ┆ 17:02:00     ┆         ┆        │
│ L1      ┆ 3443    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2018-02-01   ┆ 2018-02-01   ┆ 86      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 15:48:00     ┆ 19:14:00     ┆         ┆        │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …            ┆ …            ┆ …       ┆ …      │
│ L1      ┆ 5675    ┆ Airport30 ┆ Airport60   ┆ … ┆ 2018-10-31   ┆ 2018-10-31   ┆ 96      ┆ -420   │
│         ┆         ┆           ┆             ┆   ┆ 20:17:00     ┆ 21:53:00     ┆         ┆        │
│ U1      ┆ 6115    ┆ Airport30 ┆ Airport60   ┆ … ┆ 2018-10-31   ┆ 2018-10-31   ┆ 94      ┆ -420   │
│         ┆         ┆           ┆             ┆   ┆ 13:50:00     ┆ 15:24:00     ┆         ┆        │
│ U1      ┆ 6184    ┆ Airport30 ┆ Airport60   ┆ … ┆ 2018-11-01   ┆ 2018-11-01   ┆ 102     ┆ -420   │
│         ┆         ┆           ┆             ┆   ┆ 03:20:00     ┆ 05:02:00     ┆         ┆        │
│ OTH     ┆ 7010    ┆ Airport30 ┆ Airport60   ┆ … ┆ 2018-10-31   ┆ 2018-10-31   ┆ 95      ┆ -420   │
│         ┆         ┆           ┆             ┆   ┆ 15:45:00     ┆ 17:20:00     ┆         ┆        │
│ L1      ┆ 1292    ┆ Airport30 ┆ Airport60   ┆ … ┆ 2018-10-31   ┆ 2018-11-01   ┆ 99      ┆ -420   │
│         ┆         ┆           ┆             ┆   ┆ 23:53:00     ┆ 01:32:00     ┆         ┆        │
└─────────┴─────────┴───────────┴─────────────┴───┴──────────────┴──────────────┴─────────┴────────┘

In [19]:
train_sch_df.group_by('tz_min').agg(
    pl.col('flt_departure_local_time').min().alias('tz_start'), 
    pl.col('flt_departure_local_time').max().alias('tz_end')
).sort('tz_min')

shape: (5, 3)
┌────────┬─────────────────────┬─────────────────────┐
│ tz_min ┆ tz_start            ┆ tz_end              │
│ ---    ┆ ---                 ┆ ---                 │
│ i16    ┆ datetime[ns]        ┆ datetime[ns]        │
╞════════╪═════════════════════╪═════════════════════╡
│ -480   ┆ 2018-01-01 01:00:00 ┆ 2018-12-31 22:52:00 │
│ -420   ┆ 2018-01-01 07:15:00 ┆ 2018-12-31 17:10:00 │
│ -360   ┆ 2018-01-01 06:00:00 ┆ 2018-12-31 18:49:00 │
│ -300   ┆ 2018-01-01 05:15:00 ┆ 2018-12-31 19:10:00 │
│ -240   ┆ 2018-03-11 06:00:00 ┆ 2018-11-03 20:17:00 │
└────────┴─────────────────────┴─────────────────────┘

In [20]:
test_sch_df = test_sch_df.with_columns(
    (
        pl.col('flt_arrival_local_time') - pl.col('flt_departure_local_time')
    ).dt.total_minutes().cast(pl.Int16()).alias("dur_min")
)
test_sch_df = test_sch_df.with_columns(
    (
        pl.col('flt_departure_local_time') - pl.col('flt_departure_gmt')
    ).dt.total_minutes().cast(pl.Int16()).alias("tz_min")
)
test_sch_df

shape: (1_234, 11)
┌─────────┬─────────┬───────────┬─────────────┬───┬──────────────┬──────────────┬─────────┬────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ flt_departur ┆ flt_arrival_ ┆ dur_min ┆ tz_min │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ e_gmt        ┆ gmt          ┆ ---     ┆ ---    │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ ---          ┆ ---          ┆ i16     ┆ i16    │
│         ┆         ┆           ┆             ┆   ┆ datetime[ns] ┆ datetime[ns] ┆         ┆        │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪══════════════╪══════════════╪═════════╪════════╡
│ L1      ┆ 3437    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2019-01-02   ┆ 2019-01-02   ┆ 81      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 00:28:00     ┆ 03:49:00     ┆         ┆        │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2019-01-01   ┆ 2019-01-01   ┆ 82      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 13:50:00     ┆ 17:12:00     ┆         ┆        │
│ L1      ┆ 1609    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2019-01-01   ┆ 2019-01-01   ┆ 84      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 17:55:00     ┆ 21:19:00     ┆         ┆        │
│ L1      ┆ 1487    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2019-01-01   ┆ 2019-01-01   ┆ 81      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 20:20:00     ┆ 23:41:00     ┆         ┆        │
│ L1      ┆ 5701    ┆ Airport26 ┆ Airport30   ┆ … ┆ 2019-01-02   ┆ 2019-01-02   ┆ 81      ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 04:05:00     ┆ 07:26:00     ┆         ┆        │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …            ┆ …            ┆ …       ┆ …      │
│ L2      ┆ 3795    ┆ Airport43 ┆ Airport4    ┆ … ┆ 2019-01-07   ┆ 2019-01-08   ┆ 167     ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 23:55:00     ┆ 02:42:00     ┆         ┆        │
│ L1      ┆ 1763    ┆ Airport43 ┆ Airport4    ┆ … ┆ 2019-01-08   ┆ 2019-01-08   ┆ 178     ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 01:49:00     ┆ 04:47:00     ┆         ┆        │
│ L1      ┆ 11466   ┆ Airport43 ┆ Airport4    ┆ … ┆ 2019-01-07   ┆ 2019-01-07   ┆ 182     ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 13:48:00     ┆ 16:50:00     ┆         ┆        │
│ L2      ┆ 8018    ┆ Airport43 ┆ Airport4    ┆ … ┆ 2019-01-07   ┆ 2019-01-07   ┆ 171     ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 15:56:00     ┆ 18:47:00     ┆         ┆        │
│ L1      ┆ 5823    ┆ Airport43 ┆ Airport4    ┆ … ┆ 2019-01-07   ┆ 2019-01-08   ┆ 176     ┆ -360   │
│         ┆         ┆           ┆             ┆   ┆ 21:55:00     ┆ 00:51:00     ┆         ┆        │
└─────────┴─────────┴───────────┴─────────────┴───┴──────────────┴──────────────┴─────────┴────────┘

In [21]:
test_sch_df.group_by('tz_min').agg(
    pl.col('flt_departure_local_time').min().alias('tz_start'), 
    pl.col('flt_departure_local_time').max().alias('tz_end')
).sort('tz_min')

shape: (4, 3)
┌────────┬─────────────────────┬─────────────────────┐
│ tz_min ┆ tz_start            ┆ tz_end              │
│ ---    ┆ ---                 ┆ ---                 │
│ i16    ┆ datetime[ns]        ┆ datetime[ns]        │
╞════════╪═════════════════════╪═════════════════════╡
│ -480   ┆ 2019-01-01 01:00:00 ┆ 2019-01-07 23:00:00 │
│ -420   ┆ 2019-01-01 05:40:00 ┆ 2019-01-07 20:50:00 │
│ -360   ┆ 2019-01-01 05:35:00 ┆ 2019-01-07 22:15:00 │
│ -300   ┆ 2019-01-01 06:30:00 ┆ 2019-01-07 19:30:00 │
└────────┴─────────────────────┴─────────────────────┘

#### Whether flight is during DST

In [22]:
train_fares_df = train_fares_df.with_columns(
    pl.when(
        (pl.col('flt_departure_dt') >= pl.date(2018, 3, 11)) &
        (pl.col('flt_departure_dt') <= pl.date(2018, 11, 3))
    ).then(1).otherwise(0).cast(pl.Int8()).alias('is_dst')
)
train_fares_df

shape: (1_697_443, 11)
┌───────────┬─────────────┬─────────┬─────────┬───┬─────────────┬────────────┬────────────┬────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ origin_city ┆ destinatio ┆ days_till_ ┆ is_dst │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆   ┆ ---         ┆ n_city     ┆ flight     ┆ ---    │
│ str       ┆ str         ┆ str     ┆ i64     ┆   ┆ str         ┆ ---        ┆ ---        ┆ i8     │
│           ┆             ┆         ┆         ┆   ┆             ┆ str        ┆ i16        ┆        │
╞═══════════╪═════════════╪═════════╪═════════╪═══╪═════════════╪════════════╪════════════╪════════╡
│ Airport20 ┆ Airport4    ┆ L1      ┆ 5927    ┆ … ┆ City19      ┆ City4      ┆ 0          ┆ 1      │
│ Airport31 ┆ Airport30   ┆ L2      ┆ 1480    ┆ … ┆ City28      ┆ City27     ┆ 20         ┆ 1      │
│ Airport30 ┆ Airport31   ┆ U1      ┆ 4815    ┆ … ┆ City27      ┆ City28     ┆ 10         ┆ 1      │
│ Airport30 ┆ Airport26   ┆ L1      ┆ 5663    ┆ … ┆ City27      ┆ City24     ┆ 35         ┆ 1      │
│ Airport31 ┆ Airport30   ┆ OTH     ┆ 1923    ┆ … ┆ City28      ┆ City27     ┆ 20         ┆ 1      │
│ …         ┆ …           ┆ …       ┆ …       ┆ … ┆ …           ┆ …          ┆ …          ┆ …      │
│ Airport60 ┆ Airport30   ┆ L1      ┆ 2297    ┆ … ┆ City56      ┆ City27     ┆ 0          ┆ 0      │
│ Airport30 ┆ Airport31   ┆ L3      ┆ 2837    ┆ … ┆ City27      ┆ City28     ┆ 5          ┆ 1      │
│ Airport30 ┆ Airport60   ┆ L1      ┆ 1575    ┆ … ┆ City27      ┆ City56     ┆ 30         ┆ 1      │
│ Airport4  ┆ Airport17   ┆ L1      ┆ 4781    ┆ … ┆ City4       ┆ City17     ┆ 1          ┆ 1      │
│ Airport30 ┆ Airport31   ┆ L2      ┆ 7220    ┆ … ┆ City27      ┆ City28     ┆ 3          ┆ 1      │
└───────────┴─────────────┴─────────┴─────────┴───┴─────────────┴────────────┴────────────┴────────┘

In [23]:
test_fares_df = test_fares_df.with_columns(
    pl.when(
        (pl.col('flt_departure_dt') >= pl.date(2018, 3, 11)) &
        (pl.col('flt_departure_dt') <= pl.date(2018, 11, 3))
    ).then(1).otherwise(0).cast(pl.Int8()).alias('is_dst')
)
test_fares_df

shape: (29_825, 10)
┌───────────┬─────────────┬─────────┬─────────┬───┬─────────────┬────────────┬────────────┬────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ origin_city ┆ destinatio ┆ days_till_ ┆ is_dst │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆   ┆ ---         ┆ n_city     ┆ flight     ┆ ---    │
│ str       ┆ str         ┆ str     ┆ i64     ┆   ┆ str         ┆ ---        ┆ ---        ┆ i8     │
│           ┆             ┆         ┆         ┆   ┆             ┆ str        ┆ i16        ┆        │
╞═══════════╪═════════════╪═════════╪═════════╪═══╪═════════════╪════════════╪════════════╪════════╡
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7465    ┆ … ┆ City4       ┆ City39     ┆ 35         ┆ 0      │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ … ┆ City4       ┆ City39     ┆ 35         ┆ 0      │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ … ┆ City4       ┆ City39     ┆ 35         ┆ 0      │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 17783   ┆ … ┆ City39      ┆ City4      ┆ 35         ┆ 0      │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 5823    ┆ … ┆ City39      ┆ City4      ┆ 35         ┆ 0      │
│ …         ┆ …           ┆ …       ┆ …       ┆ … ┆ …           ┆ …          ┆ …          ┆ …      │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ … ┆ City4       ┆ City39     ┆ 6          ┆ 0      │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ … ┆ City4       ┆ City39     ┆ 6          ┆ 0      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1484    ┆ … ┆ City17      ┆ City4      ┆ 7          ┆ 0      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 18471   ┆ … ┆ City17      ┆ City4      ┆ 7          ┆ 0      │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1487    ┆ … ┆ City17      ┆ City4      ┆ 7          ┆ 0      │
└───────────┴─────────────┴─────────┴─────────┴───┴─────────────┴────────────┴────────────┴────────┘

#### Over midnight flights

In [24]:
train_sch_df = train_sch_df.with_columns(
    pl.when(
        pl.col('flt_departure_local_time').dt.date() != pl.col('flt_arrival_local_time').dt.date()
    ).then(1).otherwise(0).cast(pl.Int8()).alias('over_mn')
)

train_sch_df['over_mn'].value_counts()

shape: (2, 2)
┌─────────┬───────┐
│ over_mn ┆ count │
│ ---     ┆ ---   │
│ i8      ┆ u32   │
╞═════════╪═══════╡
│ 1       ┆ 969   │
│ 0       ┆ 62615 │
└─────────┴───────┘

In [25]:
test_sch_df = test_sch_df.with_columns(
    pl.when(
        pl.col('flt_departure_local_time').dt.date() != pl.col('flt_arrival_local_time').dt.date()
    ).then(1).otherwise(0).cast(pl.Int8()).alias('over_mn')
)

test_sch_df['over_mn'].value_counts()

shape: (2, 2)
┌─────────┬───────┐
│ over_mn ┆ count │
│ ---     ┆ ---   │
│ i8      ┆ u32   │
╞═════════╪═══════╡
│ 1       ┆ 21    │
│ 0       ┆ 1213  │
└─────────┴───────┘

#### Departure window of the day

In [26]:
train_sch_df = train_sch_df.with_columns(
    (pl.col('flt_departure_local_time').dt.hour() // 4).cast(pl.Int8()).alias('dpt_4h_od')
)

train_sch_df

shape: (63_584, 13)
┌─────────┬─────────┬───────────┬─────────────┬───┬─────────┬────────┬─────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ dur_min ┆ tz_min ┆ over_mn ┆ dpt_4h_od │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---     ┆ ---    ┆ ---     ┆ ---       │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i16     ┆ i16    ┆ i8      ┆ i8        │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪═════════╪════════╪═════════╪═══════════╡
│ L1      ┆ 6800    ┆ Airport26 ┆ Airport30   ┆ … ┆ 86      ┆ -360   ┆ 0       ┆ 4         │
│ OTH     ┆ 783     ┆ Airport26 ┆ Airport30   ┆ … ┆ 80      ┆ -360   ┆ 0       ┆ 4         │
│ L1      ┆ 799     ┆ Airport26 ┆ Airport30   ┆ … ┆ 86      ┆ -360   ┆ 0       ┆ 3         │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ 87      ┆ -360   ┆ 0       ┆ 1         │
│ L1      ┆ 3443    ┆ Airport26 ┆ Airport30   ┆ … ┆ 86      ┆ -360   ┆ 0       ┆ 2         │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …       ┆ …      ┆ …       ┆ …         │
│ L1      ┆ 5675    ┆ Airport30 ┆ Airport60   ┆ … ┆ 96      ┆ -420   ┆ 0       ┆ 3         │
│ U1      ┆ 6115    ┆ Airport30 ┆ Airport60   ┆ … ┆ 94      ┆ -420   ┆ 0       ┆ 1         │
│ U1      ┆ 6184    ┆ Airport30 ┆ Airport60   ┆ … ┆ 102     ┆ -420   ┆ 0       ┆ 5         │
│ OTH     ┆ 7010    ┆ Airport30 ┆ Airport60   ┆ … ┆ 95      ┆ -420   ┆ 0       ┆ 2         │
│ L1      ┆ 1292    ┆ Airport30 ┆ Airport60   ┆ … ┆ 99      ┆ -420   ┆ 0       ┆ 4         │
└─────────┴─────────┴───────────┴─────────────┴───┴─────────┴────────┴─────────┴───────────┘

In [27]:
test_sch_df = test_sch_df.with_columns(
    (pl.col('flt_departure_local_time').dt.hour() // 4).cast(pl.Int8()).alias('dpt_4h_od')
)

test_sch_df

shape: (1_234, 13)
┌─────────┬─────────┬───────────┬─────────────┬───┬─────────┬────────┬─────────┬───────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ dur_min ┆ tz_min ┆ over_mn ┆ dpt_4h_od │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---     ┆ ---    ┆ ---     ┆ ---       │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i16     ┆ i16    ┆ i8      ┆ i8        │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪═════════╪════════╪═════════╪═══════════╡
│ L1      ┆ 3437    ┆ Airport26 ┆ Airport30   ┆ … ┆ 81      ┆ -360   ┆ 0       ┆ 4         │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ 82      ┆ -360   ┆ 0       ┆ 1         │
│ L1      ┆ 1609    ┆ Airport26 ┆ Airport30   ┆ … ┆ 84      ┆ -360   ┆ 0       ┆ 2         │
│ L1      ┆ 1487    ┆ Airport26 ┆ Airport30   ┆ … ┆ 81      ┆ -360   ┆ 0       ┆ 3         │
│ L1      ┆ 5701    ┆ Airport26 ┆ Airport30   ┆ … ┆ 81      ┆ -360   ┆ 0       ┆ 5         │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …       ┆ …      ┆ …       ┆ …         │
│ L2      ┆ 3795    ┆ Airport43 ┆ Airport4    ┆ … ┆ 167     ┆ -360   ┆ 0       ┆ 4         │
│ L1      ┆ 1763    ┆ Airport43 ┆ Airport4    ┆ … ┆ 178     ┆ -360   ┆ 0       ┆ 4         │
│ L1      ┆ 11466   ┆ Airport43 ┆ Airport4    ┆ … ┆ 182     ┆ -360   ┆ 0       ┆ 1         │
│ L2      ┆ 8018    ┆ Airport43 ┆ Airport4    ┆ … ┆ 171     ┆ -360   ┆ 0       ┆ 2         │
│ L1      ┆ 5823    ┆ Airport43 ┆ Airport4    ┆ … ┆ 176     ┆ -360   ┆ 0       ┆ 3         │
└─────────┴─────────┴───────────┴─────────────┴───┴─────────┴────────┴─────────┴───────────┘

### Airports and cities

In [28]:
train_fares_df.group_by('origin_city').agg(
    pl.col('origin').unique().alias('Unique airports train')
).sort('origin_city').join(
    test_fares_df.group_by('origin_city').agg(
        pl.col('origin').unique().alias('Unique airports test')
    ).sort('origin_city'),
    on = "origin_city"
)

shape: (8, 3)
┌─────────────┬───────────────────────┬──────────────────────┐
│ origin_city ┆ Unique airports train ┆ Unique airports test │
│ ---         ┆ ---                   ┆ ---                  │
│ str         ┆ list[str]             ┆ list[str]            │
╞═════════════╪═══════════════════════╪══════════════════════╡
│ City17      ┆ ["Airport17"]         ┆ ["Airport17"]        │
│ City19      ┆ ["Airport20"]         ┆ ["Airport20"]        │
│ City24      ┆ ["Airport26"]         ┆ ["Airport26"]        │
│ City27      ┆ ["Airport30"]         ┆ ["Airport30"]        │
│ City28      ┆ ["Airport31"]         ┆ ["Airport31"]        │
│ City39      ┆ ["Airport43"]         ┆ ["Airport43"]        │
│ City4       ┆ ["Airport4"]          ┆ ["Airport4"]         │
│ City56      ┆ ["Airport60"]         ┆ ["Airport60"]        │
└─────────────┴───────────────────────┴──────────────────────┘

In [29]:
train_fares_df.group_by('destination_city').agg(
    pl.col('destination').unique().alias('Unique airports train')
).sort('destination_city').join(
    test_fares_df.group_by('destination_city').agg(
        pl.col('destination').unique().alias('Unique airports test')
    ).sort('destination_city'),
    on = "destination_city"
)

shape: (8, 3)
┌──────────────────┬───────────────────────┬──────────────────────┐
│ destination_city ┆ Unique airports train ┆ Unique airports test │
│ ---              ┆ ---                   ┆ ---                  │
│ str              ┆ list[str]             ┆ list[str]            │
╞══════════════════╪═══════════════════════╪══════════════════════╡
│ City17           ┆ ["Airport17"]         ┆ ["Airport17"]        │
│ City19           ┆ ["Airport20"]         ┆ ["Airport20"]        │
│ City24           ┆ ["Airport26"]         ┆ ["Airport26"]        │
│ City27           ┆ ["Airport30"]         ┆ ["Airport30"]        │
│ City28           ┆ ["Airport31"]         ┆ ["Airport31"]        │
│ City39           ┆ ["Airport43"]         ┆ ["Airport43"]        │
│ City4            ┆ ["Airport4"]          ┆ ["Airport4"]         │
│ City56           ┆ ["Airport60"]         ┆ ["Airport60"]        │
└──────────────────┴───────────────────────┴──────────────────────┘

In [30]:
for airports in [
    set(train_fares_df['destination']),
    set(test_fares_df['origin']),
    set(test_fares_df['destination'])
]:
    if airports == set(train_fares_df['origin']):
        print('Same')
    else:
        print('Different airport found')

Same
Same
Same

### Routes

In [31]:
route_mapping = train_fares_df.select(
    pl.col(['origin', 'destination'])
).unique().sort(
    ['origin', 'destination']
).with_row_index(name = "route_id").with_columns(
    pl.col('route_id').cast(pl.UInt8())
)

route_mapping

shape: (12, 3)
┌──────────┬───────────┬─────────────┐
│ route_id ┆ origin    ┆ destination │
│ ---      ┆ ---       ┆ ---         │
│ u8       ┆ str       ┆ str         │
╞══════════╪═══════════╪═════════════╡
│ 0        ┆ Airport17 ┆ Airport4    │
│ 1        ┆ Airport20 ┆ Airport4    │
│ 2        ┆ Airport26 ┆ Airport30   │
│ 3        ┆ Airport30 ┆ Airport26   │
│ 4        ┆ Airport30 ┆ Airport31   │
│ …        ┆ …         ┆ …           │
│ 7        ┆ Airport4  ┆ Airport17   │
│ 8        ┆ Airport4  ┆ Airport20   │
│ 9        ┆ Airport4  ┆ Airport43   │
│ 10       ┆ Airport43 ┆ Airport4    │
│ 11       ┆ Airport60 ┆ Airport30   │
└──────────┴───────────┴─────────────┘

In [32]:
train_fares_df = train_fares_df.join(
    route_mapping, 
    on = ['origin', 'destination'], 
    how = 'left'
)
train_fares_df

shape: (1_697_443, 12)
┌───────────┬─────────────┬─────────┬─────────┬───┬──────────────┬─────────────┬────────┬──────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ destination_ ┆ days_till_f ┆ is_dst ┆ route_id │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆   ┆ city         ┆ light       ┆ ---    ┆ ---      │
│ str       ┆ str         ┆ str     ┆ i64     ┆   ┆ ---          ┆ ---         ┆ i8     ┆ u8       │
│           ┆             ┆         ┆         ┆   ┆ str          ┆ i16         ┆        ┆          │
╞═══════════╪═════════════╪═════════╪═════════╪═══╪══════════════╪═════════════╪════════╪══════════╡
│ Airport20 ┆ Airport4    ┆ L1      ┆ 5927    ┆ … ┆ City4        ┆ 0           ┆ 1      ┆ 1        │
│ Airport31 ┆ Airport30   ┆ L2      ┆ 1480    ┆ … ┆ City27       ┆ 20          ┆ 1      ┆ 6        │
│ Airport30 ┆ Airport31   ┆ U1      ┆ 4815    ┆ … ┆ City28       ┆ 10          ┆ 1      ┆ 4        │
│ Airport30 ┆ Airport26   ┆ L1      ┆ 5663    ┆ … ┆ City24       ┆ 35          ┆ 1      ┆ 3        │
│ Airport31 ┆ Airport30   ┆ OTH     ┆ 1923    ┆ … ┆ City27       ┆ 20          ┆ 1      ┆ 6        │
│ …         ┆ …           ┆ …       ┆ …       ┆ … ┆ …            ┆ …           ┆ …      ┆ …        │
│ Airport60 ┆ Airport30   ┆ L1      ┆ 2297    ┆ … ┆ City27       ┆ 0           ┆ 0      ┆ 11       │
│ Airport30 ┆ Airport31   ┆ L3      ┆ 2837    ┆ … ┆ City28       ┆ 5           ┆ 1      ┆ 4        │
│ Airport30 ┆ Airport60   ┆ L1      ┆ 1575    ┆ … ┆ City56       ┆ 30          ┆ 1      ┆ 5        │
│ Airport4  ┆ Airport17   ┆ L1      ┆ 4781    ┆ … ┆ City17       ┆ 1           ┆ 1      ┆ 7        │
│ Airport30 ┆ Airport31   ┆ L2      ┆ 7220    ┆ … ┆ City28       ┆ 3           ┆ 1      ┆ 4        │
└───────────┴─────────────┴─────────┴─────────┴───┴──────────────┴─────────────┴────────┴──────────┘

In [33]:
test_fares_df = test_fares_df.join(
    route_mapping, 
    on = ['origin', 'destination'], 
    how = 'left'
)
test_fares_df

shape: (29_825, 11)
┌───────────┬─────────────┬─────────┬─────────┬───┬──────────────┬─────────────┬────────┬──────────┐
│ origin    ┆ destination ┆ carrier ┆ flt_num ┆ … ┆ destination_ ┆ days_till_f ┆ is_dst ┆ route_id │
│ ---       ┆ ---         ┆ ---     ┆ ---     ┆   ┆ city         ┆ light       ┆ ---    ┆ ---      │
│ str       ┆ str         ┆ str     ┆ i64     ┆   ┆ ---          ┆ ---         ┆ i8     ┆ u8       │
│           ┆             ┆         ┆         ┆   ┆ str          ┆ i16         ┆        ┆          │
╞═══════════╪═════════════╪═════════╪═════════╪═══╪══════════════╪═════════════╪════════╪══════════╡
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7465    ┆ … ┆ City39       ┆ 35          ┆ 0      ┆ 9        │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ … ┆ City39       ┆ 35          ┆ 0      ┆ 9        │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ … ┆ City39       ┆ 35          ┆ 0      ┆ 9        │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 17783   ┆ … ┆ City4        ┆ 35          ┆ 0      ┆ 10       │
│ Airport43 ┆ Airport4    ┆ L1      ┆ 5823    ┆ … ┆ City4        ┆ 35          ┆ 0      ┆ 10       │
│ …         ┆ …           ┆ …       ┆ …       ┆ … ┆ …            ┆ …           ┆ …      ┆ …        │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 7067    ┆ … ┆ City39       ┆ 6           ┆ 0      ┆ 9        │
│ Airport4  ┆ Airport43   ┆ L2      ┆ 1232    ┆ … ┆ City39       ┆ 6           ┆ 0      ┆ 9        │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1484    ┆ … ┆ City4        ┆ 7           ┆ 0      ┆ 0        │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 18471   ┆ … ┆ City4        ┆ 7           ┆ 0      ┆ 0        │
│ Airport17 ┆ Airport4    ┆ L1      ┆ 1487    ┆ … ┆ City4        ┆ 7           ┆ 0      ┆ 0        │
└───────────┴─────────────┴─────────┴─────────┴───┴──────────────┴─────────────┴────────┴──────────┘

In [34]:
train_fares_df['route_id'].null_count(), test_fares_df['route_id'].null_count()

(0, 0)

In [35]:
train_sch_df = train_sch_df.join(
    route_mapping,
    on = ['origin', 'destination'],
    how = 'inner'
)

train_sch_df

shape: (63_584, 14)
┌─────────┬─────────┬───────────┬─────────────┬───┬────────┬─────────┬───────────┬──────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ tz_min ┆ over_mn ┆ dpt_4h_od ┆ route_id │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---    ┆ ---     ┆ ---       ┆ ---      │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i16    ┆ i8      ┆ i8        ┆ u8       │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪════════╪═════════╪═══════════╪══════════╡
│ L1      ┆ 6800    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 4         ┆ 2        │
│ OTH     ┆ 783     ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 4         ┆ 2        │
│ L1      ┆ 799     ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 3         ┆ 2        │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 1         ┆ 2        │
│ L1      ┆ 3443    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 2         ┆ 2        │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …      ┆ …       ┆ …         ┆ …        │
│ L1      ┆ 5675    ┆ Airport30 ┆ Airport60   ┆ … ┆ -420   ┆ 0       ┆ 3         ┆ 5        │
│ U1      ┆ 6115    ┆ Airport30 ┆ Airport60   ┆ … ┆ -420   ┆ 0       ┆ 1         ┆ 5        │
│ U1      ┆ 6184    ┆ Airport30 ┆ Airport60   ┆ … ┆ -420   ┆ 0       ┆ 5         ┆ 5        │
│ OTH     ┆ 7010    ┆ Airport30 ┆ Airport60   ┆ … ┆ -420   ┆ 0       ┆ 2         ┆ 5        │
│ L1      ┆ 1292    ┆ Airport30 ┆ Airport60   ┆ … ┆ -420   ┆ 0       ┆ 4         ┆ 5        │
└─────────┴─────────┴───────────┴─────────────┴───┴────────┴─────────┴───────────┴──────────┘

In [36]:
test_sch_df = test_sch_df.join(
    route_mapping,
    on = ['origin', 'destination'],
    how = 'inner'
)

test_sch_df

shape: (1_234, 14)
┌─────────┬─────────┬───────────┬─────────────┬───┬────────┬─────────┬───────────┬──────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ tz_min ┆ over_mn ┆ dpt_4h_od ┆ route_id │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---    ┆ ---     ┆ ---       ┆ ---      │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i16    ┆ i8      ┆ i8        ┆ u8       │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪════════╪═════════╪═══════════╪══════════╡
│ L1      ┆ 3437    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 4         ┆ 2        │
│ L1      ┆ 7760    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 1         ┆ 2        │
│ L1      ┆ 1609    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 2         ┆ 2        │
│ L1      ┆ 1487    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 3         ┆ 2        │
│ L1      ┆ 5701    ┆ Airport26 ┆ Airport30   ┆ … ┆ -360   ┆ 0       ┆ 5         ┆ 2        │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …      ┆ …       ┆ …         ┆ …        │
│ L2      ┆ 3795    ┆ Airport43 ┆ Airport4    ┆ … ┆ -360   ┆ 0       ┆ 4         ┆ 10       │
│ L1      ┆ 1763    ┆ Airport43 ┆ Airport4    ┆ … ┆ -360   ┆ 0       ┆ 4         ┆ 10       │
│ L1      ┆ 11466   ┆ Airport43 ┆ Airport4    ┆ … ┆ -360   ┆ 0       ┆ 1         ┆ 10       │
│ L2      ┆ 8018    ┆ Airport43 ┆ Airport4    ┆ … ┆ -360   ┆ 0       ┆ 2         ┆ 10       │
│ L1      ┆ 5823    ┆ Airport43 ┆ Airport4    ┆ … ┆ -360   ┆ 0       ┆ 3         ┆ 10       │
└─────────┴─────────┴───────────┴─────────────┴───┴────────┴─────────┴───────────┴──────────┘

In [37]:
services_df = services_df.join(
    route_mapping,
    on = ['origin', 'destination'],
    how = 'inner'
)
services_df

shape: (746, 8)
┌──────┬─────┬───────────┬─────────────┬─────────┬───────────────┬──────────────┬──────────┐
│ yr   ┆ mo  ┆ origin    ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share ┆ route_id │
│ ---  ┆ --- ┆ ---       ┆ ---         ┆ ---     ┆ ---           ┆ ---          ┆ ---      │
│ i64  ┆ i64 ┆ str       ┆ str         ┆ str     ┆ i64           ┆ i64          ┆ u8       │
╞══════╪═════╪═══════════╪═════════════╪═════════╪═══════════════╪══════════════╪══════════╡
│ 2017 ┆ 12  ┆ Airport26 ┆ Airport30   ┆ U3      ┆ 2860          ┆ 171          ┆ 2        │
│ 2017 ┆ 12  ┆ Airport30 ┆ Airport31   ┆ L1      ┆ 6542          ┆ 181          ┆ 4        │
│ 2017 ┆ 12  ┆ Airport30 ┆ Airport60   ┆ U3      ┆ 6685          ┆ 160          ┆ 5        │
│ 2017 ┆ 12  ┆ Airport4  ┆ Airport17   ┆ L3      ┆ 2708          ┆ 160          ┆ 7        │
│ 2017 ┆ 12  ┆ Airport60 ┆ Airport30   ┆ L1      ┆ 6685          ┆ 268          ┆ 11       │
│ …    ┆ …   ┆ …         ┆ …           ┆ …       ┆ …             ┆ …            ┆ …        │
│ 2018 ┆ 11  ┆ Airport4  ┆ Airport17   ┆ U3      ┆ 3099          ┆ 188          ┆ 7        │
│ 2018 ┆ 12  ┆ Airport30 ┆ Airport31   ┆ L1      ┆ 7128          ┆ 189          ┆ 4        │
│ 2018 ┆ 12  ┆ Airport30 ┆ Airport60   ┆ L3      ┆ 5817          ┆ 160          ┆ 5        │
│ 2018 ┆ 12  ┆ Airport60 ┆ Airport30   ┆ L3      ┆ 5817          ┆ 160          ┆ 11       │
│ 2018 ┆ 12  ┆ Airport60 ┆ Airport30   ┆ U1      ┆ 5817          ┆ 253          ┆ 11       │
└──────┴─────┴───────────┴─────────────┴─────────┴───────────────┴──────────────┴──────────┘

### Count of close flights

In [38]:
train_sch_df = train_sch_df.with_columns(
    pl.col('flt_num').len().over(
        ['route_id', 'flt_departure_dt']
    ).cast(pl.UInt8()).alias('flt_count_dpt_24h'),
    pl.col('flt_num').len().over(
        ['route_id', 'flt_departure_dt', 'dpt_4h_od']
    ).cast(pl.UInt8()).alias('flt_count_dpt_4h')
)

train_sch_df.sort('flt_departure_local_time')

shape: (63_584, 16)
┌─────────┬─────────┬───────────┬─────────────┬───┬───────────┬──────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ dpt_4h_od ┆ route_id ┆ flt_count_ ┆ flt_count_ │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---       ┆ ---      ┆ dpt_24h    ┆ dpt_4h     │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i8        ┆ u8       ┆ ---        ┆ ---        │
│         ┆         ┆           ┆             ┆   ┆           ┆          ┆ u8         ┆ u8         │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪═══════════╪══════════╪════════════╪════════════╡
│ L1      ┆ 2149    ┆ Airport30 ┆ Airport26   ┆ … ┆ 0         ┆ 3        ┆ 9          ┆ 1          │
│ OTH     ┆ 5782    ┆ Airport20 ┆ Airport4    ┆ … ┆ 1         ┆ 1        ┆ 5          ┆ 2          │
│ OTH     ┆ 5792    ┆ Airport30 ┆ Airport60   ┆ … ┆ 1         ┆ 5        ┆ 21         ┆ 3          │
│ L1      ┆ 1176    ┆ Airport30 ┆ Airport31   ┆ … ┆ 1         ┆ 4        ┆ 30         ┆ 6          │
│ OTH     ┆ 6068    ┆ Airport30 ┆ Airport31   ┆ … ┆ 1         ┆ 4        ┆ 30         ┆ 6          │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …         ┆ …        ┆ …          ┆ …          │
│ OTH     ┆ 2416    ┆ Airport30 ┆ Airport31   ┆ … ┆ 5         ┆ 4        ┆ 30         ┆ 2          │
│ L2      ┆ 1741    ┆ Airport30 ┆ Airport31   ┆ … ┆ 5         ┆ 4        ┆ 30         ┆ 2          │
│ U1      ┆ 6175    ┆ Airport60 ┆ Airport30   ┆ … ┆ 5         ┆ 11       ┆ 21         ┆ 3          │
│ L2      ┆ 8903    ┆ Airport31 ┆ Airport30   ┆ … ┆ 5         ┆ 6        ┆ 30         ┆ 2          │
│ L1      ┆ 7588    ┆ Airport60 ┆ Airport30   ┆ … ┆ 5         ┆ 11       ┆ 21         ┆ 3          │
└─────────┴─────────┴───────────┴─────────────┴───┴───────────┴──────────┴────────────┴────────────┘

In [39]:
test_sch_df = test_sch_df.with_columns(
    pl.col('flt_num').len().over(
        ['route_id', 'flt_departure_dt']
    ).cast(pl.UInt8()).alias('flt_count_dpt_24h'),
    pl.col('flt_num').len().over(
        ['route_id', 'flt_departure_dt', 'dpt_4h_od']
    ).cast(pl.UInt8()).alias('flt_count_dpt_4h')
)

test_sch_df.sort('flt_departure_local_time')

shape: (1_234, 16)
┌─────────┬─────────┬───────────┬─────────────┬───┬───────────┬──────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ dpt_4h_od ┆ route_id ┆ flt_count_ ┆ flt_count_ │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---       ┆ ---      ┆ dpt_24h    ┆ dpt_4h     │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i8        ┆ u8       ┆ ---        ┆ ---        │
│         ┆         ┆           ┆             ┆   ┆           ┆          ┆ u8         ┆ u8         │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪═══════════╪══════════╪════════════╪════════════╡
│ L1      ┆ 2149    ┆ Airport30 ┆ Airport26   ┆ … ┆ 0         ┆ 3        ┆ 9          ┆ 1          │
│ OTH     ┆ 4611    ┆ Airport31 ┆ Airport30   ┆ … ┆ 1         ┆ 6        ┆ 33         ┆ 5          │
│ OTH     ┆ 10071   ┆ Airport60 ┆ Airport30   ┆ … ┆ 1         ┆ 11       ┆ 21         ┆ 3          │
│ OTH     ┆ 5770    ┆ Airport30 ┆ Airport60   ┆ … ┆ 1         ┆ 5        ┆ 21         ┆ 5          │
│ OTH     ┆ 5327    ┆ Airport4  ┆ Airport20   ┆ … ┆ 1         ┆ 8        ┆ 5          ┆ 2          │
│ …       ┆ …       ┆ …         ┆ …           ┆ … ┆ …         ┆ …        ┆ …          ┆ …          │
│ L2      ┆ 8903    ┆ Airport31 ┆ Airport30   ┆ … ┆ 5         ┆ 6        ┆ 46         ┆ 6          │
│ L1      ┆ 4934    ┆ Airport31 ┆ Airport30   ┆ … ┆ 5         ┆ 6        ┆ 46         ┆ 6          │
│ L1      ┆ 7588    ┆ Airport60 ┆ Airport30   ┆ … ┆ 5         ┆ 11       ┆ 28         ┆ 5          │
│ L1      ┆ 5581    ┆ Airport30 ┆ Airport31   ┆ … ┆ 5         ┆ 4        ┆ 46         ┆ 6          │
│ L1      ┆ 18298   ┆ Airport30 ┆ Airport60   ┆ … ┆ 5         ┆ 5        ┆ 27         ┆ 6          │
└─────────┴─────────┴───────────┴─────────────┴───┴───────────┴──────────┴────────────┴────────────┘

### Code sharing

[GSA - Codesharing](https://www.gsa.gov/policy-regulations/policy/travel-management-policy-overview/fly-america-act#:~:text=Codesharing,one%20of%20the%20cooperating%20airlines.)

In [40]:
train_sch_df.group_by('flt_num', 'route_id').agg(
    pl.col('carrier').unique().len()
).filter(pl.col('carrier') > 1).sort('carrier')

shape: (77, 3)
┌─────────┬──────────┬─────────┐
│ flt_num ┆ route_id ┆ carrier │
│ ---     ┆ ---      ┆ ---     │
│ i64     ┆ u8       ┆ u32     │
╞═════════╪══════════╪═════════╡
│ 4787    ┆ 4        ┆ 2       │
│ 6153    ┆ 5        ┆ 2       │
│ 18113   ┆ 4        ┆ 2       │
│ 14581   ┆ 6        ┆ 2       │
│ 6143    ┆ 11       ┆ 2       │
│ …       ┆ …        ┆ …       │
│ 18286   ┆ 0        ┆ 2       │
│ 3233    ┆ 4        ┆ 2       │
│ 17752   ┆ 4        ┆ 2       │
│ 4831    ┆ 6        ┆ 2       │
│ 4790    ┆ 4        ┆ 3       │
└─────────┴──────────┴─────────┘

In [41]:
test_sch_df.group_by('flt_num', 'route_id').agg(
    pl.col('carrier').unique().len()
).filter(pl.col('carrier') > 1).sort('carrier')

shape: (4, 3)
┌─────────┬──────────┬─────────┐
│ flt_num ┆ route_id ┆ carrier │
│ ---     ┆ ---      ┆ ---     │
│ i64     ┆ u8       ┆ u32     │
╞═════════╪══════════╪═════════╡
│ 6947    ┆ 11       ┆ 2       │
│ 5817    ┆ 6        ┆ 2       │
│ 18289   ┆ 6        ┆ 2       │
│ 4818    ┆ 6        ┆ 2       │
└─────────┴──────────┴─────────┘

In [42]:
train_sch_df.group_by('flt_num', 'route_id', 'flt_departure_dt').agg(
    pl.col('carrier').unique().len()
).filter(pl.col('carrier') > 1).sort('flt_departure_dt')

shape: (126, 4)
┌─────────┬──────────┬──────────────────┬─────────┐
│ flt_num ┆ route_id ┆ flt_departure_dt ┆ carrier │
│ ---     ┆ ---      ┆ ---              ┆ ---     │
│ i64     ┆ u8       ┆ date             ┆ u32     │
╞═════════╪══════════╪══════════════════╪═════════╡
│ 2297    ┆ 11       ┆ 2018-01-02       ┆ 2       │
│ 4580    ┆ 4        ┆ 2018-01-02       ┆ 2       │
│ 4790    ┆ 4        ┆ 2018-01-08       ┆ 2       │
│ 6853    ┆ 7        ┆ 2018-03-08       ┆ 2       │
│ 5236    ┆ 6        ┆ 2018-03-09       ┆ 2       │
│ …       ┆ …        ┆ …                ┆ …       │
│ 5817    ┆ 6        ┆ 2018-12-13       ┆ 2       │
│ 5817    ┆ 6        ┆ 2018-12-14       ┆ 2       │
│ 5817    ┆ 6        ┆ 2018-12-17       ┆ 2       │
│ 5817    ┆ 6        ┆ 2018-12-18       ┆ 2       │
│ 6947    ┆ 11       ┆ 2018-12-19       ┆ 2       │
└─────────┴──────────┴──────────────────┴─────────┘

In [43]:
test_sch_df.filter(
    (pl.col('route_id') == 4) & 
    (pl.col('flt_num') == 4580) &
    (pl.col('flt_departure_dt') == pl.date(2018, 1, 2))
).sort('flt_departure_dt')

shape: (0, 16)
┌─────────┬─────────┬────────┬─────────────┬───┬───────────┬──────────┬──────────────┬─────────────┐
│ carrier ┆ flt_num ┆ origin ┆ destination ┆ … ┆ dpt_4h_od ┆ route_id ┆ flt_count_dp ┆ flt_count_d │
│ ---     ┆ ---     ┆ ---    ┆ ---         ┆   ┆ ---       ┆ ---      ┆ t_24h        ┆ pt_4h       │
│ str     ┆ i64     ┆ str    ┆ str         ┆   ┆ i8        ┆ u8       ┆ ---          ┆ ---         │
│         ┆         ┆        ┆             ┆   ┆           ┆          ┆ u8           ┆ u8          │
╞═════════╪═════════╪════════╪═════════════╪═══╪═══════════╪══════════╪══════════════╪═════════════╡
└─────────┴─────────┴────────┴─────────────┴───┴───────────┴──────────┴──────────────┴─────────────┘

In [44]:
test_sch_df.group_by('flt_num', 'route_id', 'flt_departure_dt').agg(
    pl.col('carrier').unique().len()
).filter(pl.col('carrier') > 1).sort('flt_departure_dt')

shape: (3, 4)
┌─────────┬──────────┬──────────────────┬─────────┐
│ flt_num ┆ route_id ┆ flt_departure_dt ┆ carrier │
│ ---     ┆ ---      ┆ ---              ┆ ---     │
│ i64     ┆ u8       ┆ date             ┆ u32     │
╞═════════╪══════════╪══════════════════╪═════════╡
│ 6947    ┆ 11       ┆ 2019-01-01       ┆ 2       │
│ 5817    ┆ 6        ┆ 2019-01-03       ┆ 2       │
│ 5817    ┆ 6        ┆ 2019-01-04       ┆ 2       │
└─────────┴──────────┴──────────────────┴─────────┘

In [45]:
test_sch_df.filter(
    (pl.col('route_id') == 11) & 
    (pl.col('flt_num') == 6947) &
    (pl.col('flt_departure_dt') == pl.date(2019, 1, 1))
).sort('flt_departure_dt')

shape: (2, 16)
┌─────────┬─────────┬───────────┬─────────────┬───┬───────────┬──────────┬────────────┬────────────┐
│ carrier ┆ flt_num ┆ origin    ┆ destination ┆ … ┆ dpt_4h_od ┆ route_id ┆ flt_count_ ┆ flt_count_ │
│ ---     ┆ ---     ┆ ---       ┆ ---         ┆   ┆ ---       ┆ ---      ┆ dpt_24h    ┆ dpt_4h     │
│ str     ┆ i64     ┆ str       ┆ str         ┆   ┆ i8        ┆ u8       ┆ ---        ┆ ---        │
│         ┆         ┆           ┆             ┆   ┆           ┆          ┆ u8         ┆ u8         │
╞═════════╪═════════╪═══════════╪═════════════╪═══╪═══════════╪══════════╪════════════╪════════════╡
│ L1      ┆ 6947    ┆ Airport60 ┆ Airport30   ┆ … ┆ 3         ┆ 11       ┆ 21         ┆ 4          │
│ OTH     ┆ 6947    ┆ Airport60 ┆ Airport30   ┆ … ┆ 4         ┆ 11       ┆ 21         ┆ 6          │
└─────────┴─────────┴───────────┴─────────────┴───┴───────────┴──────────┴────────────┴────────────┘

### Airport mapping

In [46]:
airport_mapping = route_mapping.select(
    pl.col('origin').unique(maintain_order = True).alias('airport')
).with_row_index(name = "airport_id").with_columns(
    pl.col('airport_id').cast(pl.UInt8())
)
airport_mapping

shape: (8, 2)
┌────────────┬───────────┐
│ airport_id ┆ airport   │
│ ---        ┆ ---       │
│ u8         ┆ str       │
╞════════════╪═══════════╡
│ 0          ┆ Airport17 │
│ 1          ┆ Airport20 │
│ 2          ┆ Airport26 │
│ 3          ┆ Airport30 │
│ 4          ┆ Airport31 │
│ 5          ┆ Airport4  │
│ 6          ┆ Airport43 │
│ 7          ┆ Airport60 │
└────────────┴───────────┘

## Merging

In [47]:
services_df = services_df.filter(
    pl.col('yr').is_in(train_fares_df['flt_departure_dt'].dt.year().unique()) |
    pl.col('yr').is_in(test_fares_df['flt_departure_dt'].dt.year().unique())
)

services_df

shape: (689, 8)
┌──────┬─────┬───────────┬─────────────┬─────────┬───────────────┬──────────────┬──────────┐
│ yr   ┆ mo  ┆ origin    ┆ destination ┆ carrier ┆ scaled_demand ┆ scaled_share ┆ route_id │
│ ---  ┆ --- ┆ ---       ┆ ---         ┆ ---     ┆ ---           ┆ ---          ┆ ---      │
│ i64  ┆ i64 ┆ str       ┆ str         ┆ str     ┆ i64           ┆ i64          ┆ u8       │
╞══════╪═════╪═══════════╪═════════════╪═════════╪═══════════════╪══════════════╪══════════╡
│ 2018 ┆ 1   ┆ Airport26 ┆ Airport30   ┆ L3      ┆ 2438          ┆ 163          ┆ 2        │
│ 2018 ┆ 1   ┆ Airport30 ┆ Airport26   ┆ L1      ┆ 2438          ┆ 384          ┆ 3        │
│ 2018 ┆ 1   ┆ Airport30 ┆ Airport31   ┆ L2      ┆ 6659          ┆ 212          ┆ 4        │
│ 2018 ┆ 1   ┆ Airport30 ┆ Airport60   ┆ L3      ┆ 6579          ┆ 160          ┆ 5        │
│ 2018 ┆ 1   ┆ Airport4  ┆ Airport20   ┆ U2      ┆ 1468          ┆ 161          ┆ 8        │
│ …    ┆ …   ┆ …         ┆ …           ┆ …       ┆ …             ┆ …            ┆ …        │
│ 2018 ┆ 11  ┆ Airport4  ┆ Airport17   ┆ U3      ┆ 3099          ┆ 188          ┆ 7        │
│ 2018 ┆ 12  ┆ Airport30 ┆ Airport31   ┆ L1      ┆ 7128          ┆ 189          ┆ 4        │
│ 2018 ┆ 12  ┆ Airport30 ┆ Airport60   ┆ L3      ┆ 5817          ┆ 160          ┆ 5        │
│ 2018 ┆ 12  ┆ Airport60 ┆ Airport30   ┆ L3      ┆ 5817          ┆ 160          ┆ 11       │
│ 2018 ┆ 12  ┆ Airport60 ┆ Airport30   ┆ U1      ┆ 5817          ┆ 253          ┆ 11       │
└──────┴─────┴───────────┴─────────────┴─────────┴───────────────┴──────────────┴──────────┘

In [48]:
train_fares_df = train_fares_df.with_columns(
    pl.col('flt_departure_dt').dt.year().cast(pl.Int64()).alias('yr'),
    pl.col('flt_departure_dt').dt.month().cast(pl.Int64()).alias('mo')
).join(
    train_sch_df.select(
        [
            'carrier', 'flt_num', 'flt_departure_dt', 'route_id',
            'flt_departure_local_time', 'flt_arrival_local_time',
            'dur_min', 'tz_min', 'over_mn', 
            'dpt_4h_od', 'flt_count_dpt_24h', 'flt_count_dpt_4h'
        ]
    ),
    on = ['carrier', 'flt_num', 'flt_departure_dt', 'route_id'],
    how = 'left'
).join(
    services_df.drop('origin', 'destination'),
    on = ['route_id', 'carrier', 'yr', 'mo'],
    how = 'left'
).drop(
    'yr', 'mo', 'origin_city', 'destination_city'
).join(
    airport_mapping,
    left_on = 'origin',
    right_on = 'airport',
    how = 'left'
).with_columns(
    pl.col('airport_id').alias('origin_id')
).drop(
    'origin', 'airport_id'
).join(
    airport_mapping,
    left_on = 'destination',
    right_on = 'airport',
    how = 'left'
).with_columns(
    pl.col('airport_id').alias('destination_id')
).drop(
    'destination', 'airport_id'
)

train_fares_df

shape: (1_698_818, 20)
┌─────────┬─────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ flt_depart ┆ observatio ┆ … ┆ scaled_dem ┆ scaled_sh ┆ origin_id ┆ destinati │
│ ---     ┆ ---     ┆ ure_dt     ┆ n_date     ┆   ┆ and        ┆ are       ┆ ---       ┆ on_id     │
│ str     ┆ i64     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ u8        ┆ ---       │
│         ┆         ┆ date       ┆ date       ┆   ┆ i64        ┆ i64       ┆           ┆ u8        │
╞═════════╪═════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ L1      ┆ 5927    ┆ 2018-03-12 ┆ 2018-03-12 ┆ … ┆ 2401       ┆ 375       ┆ 1         ┆ 5         │
│ L2      ┆ 1480    ┆ 2018-05-03 ┆ 2018-04-13 ┆ … ┆ 7687       ┆ 221       ┆ 4         ┆ 3         │
│ U1      ┆ 4815    ┆ 2018-07-17 ┆ 2018-07-07 ┆ … ┆ 7826       ┆ 193       ┆ 3         ┆ 4         │
│ L1      ┆ 5663    ┆ 2018-09-08 ┆ 2018-08-04 ┆ … ┆ 2545       ┆ 401       ┆ 3         ┆ 2         │
│ OTH     ┆ 1923    ┆ 2018-04-30 ┆ 2018-04-10 ┆ … ┆ 7578       ┆ 308       ┆ 4         ┆ 3         │
│ …       ┆ …       ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ L1      ┆ 2297    ┆ 2018-01-18 ┆ 2018-01-18 ┆ … ┆ 6579       ┆ 262       ┆ 7         ┆ 3         │
│ L3      ┆ 2837    ┆ 2018-06-17 ┆ 2018-06-12 ┆ … ┆ 7687       ┆ 228       ┆ 3         ┆ 4         │
│ L1      ┆ 1575    ┆ 2018-03-25 ┆ 2018-02-23 ┆ … ┆ 6755       ┆ 279       ┆ 3         ┆ 7         │
│ L1      ┆ 4781    ┆ 2018-05-20 ┆ 2018-05-19 ┆ … ┆ 3101       ┆ 287       ┆ 5         ┆ 0         │
│ L2      ┆ 7220    ┆ 2018-08-09 ┆ 2018-08-06 ┆ … ┆ 8396       ┆ 223       ┆ 3         ┆ 4         │
└─────────┴─────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [49]:
train_fares_df.describe()

shape: (9, 21)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ carrier ┆ flt_num   ┆ flt_depar ┆ … ┆ scaled_de ┆ scaled_sh ┆ origin_id ┆ destinati │
│ ---        ┆ ---     ┆ ---       ┆ ture_dt   ┆   ┆ mand      ┆ are       ┆ ---       ┆ on_id     │
│ str        ┆ str     ┆ f64       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---       │
│            ┆         ┆           ┆ str       ┆   ┆ f64       ┆ f64       ┆           ┆ f64       │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 1698818 ┆ 1.698818e ┆ 1698818   ┆ … ┆ 1.598505e ┆ 1.598505e ┆ 1.698818e ┆ 1.698818e │
│            ┆         ┆ 6         ┆           ┆   ┆ 6         ┆ 6         ┆ 6         ┆ 6         │
│ null_count ┆ 0       ┆ 0.0       ┆ 0         ┆ … ┆ 100313.0  ┆ 100313.0  ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null    ┆ 5910.7508 ┆ 2018-06-2 ┆ … ┆ 5721.5210 ┆ 271.99376 ┆ 3.944983  ┆ 3.839782  │
│            ┆         ┆ 7         ┆ 4         ┆   ┆ 24        ┆ 2         ┆           ┆           │
│ std        ┆ null    ┆ 4285.4402 ┆ null      ┆ … ┆ 2358.7576 ┆ 63.198466 ┆ 1.690606  ┆ 1.631242  │
│            ┆         ┆ 64        ┆           ┆   ┆ 7         ┆           ┆           ┆           │
│ min        ┆ L1      ┆ 174.0     ┆ 2018-01-0 ┆ … ┆ 1378.0    ┆ 165.0     ┆ 0.0       ┆ 0.0       │
│            ┆         ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆           │
│ 25%        ┆ null    ┆ 2724.0    ┆ 2018-03-3 ┆ … ┆ 2864.0    ┆ 223.0     ┆ 3.0       ┆ 3.0       │
│            ┆         ┆           ┆ 0         ┆   ┆           ┆           ┆           ┆           │
│ 50%        ┆ null    ┆ 5280.0    ┆ 2018-06-0 ┆ … ┆ 7022.0    ┆ 270.0     ┆ 4.0       ┆ 3.0       │
│            ┆         ┆           ┆ 8         ┆   ┆           ┆           ┆           ┆           │
│ 75%        ┆ null    ┆ 6759.0    ┆ 2018-09-2 ┆ … ┆ 7578.0    ┆ 308.0     ┆ 5.0       ┆ 5.0       │
│            ┆         ┆           ┆ 4         ┆   ┆           ┆           ┆           ┆           │
│ max        ┆ U3      ┆ 29555.0   ┆ 2018-12-3 ┆ … ┆ 8396.0    ┆ 423.0     ┆ 7.0       ┆ 7.0       │
│            ┆         ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆           │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

In [50]:
test_fares_df = test_fares_df.with_columns(
    pl.col('flt_departure_dt').dt.year().cast(pl.Int64()).alias('yr'),
    pl.col('flt_departure_dt').dt.month().cast(pl.Int64()).alias('mo')
).join(
    train_sch_df.select(
        [
            'carrier', 'flt_num', 'flt_departure_dt', 'route_id',
            'flt_departure_local_time', 'flt_arrival_local_time',
            'dur_min', 'tz_min', 'over_mn', 
            'dpt_4h_od', 'flt_count_dpt_24h', 'flt_count_dpt_4h'
        ]
    ),
    on = ['carrier', 'flt_num', 'flt_departure_dt', 'route_id'],
    how = 'left'
).join(
    services_df.drop('origin', 'destination'),
    on = ['route_id', 'carrier', 'yr', 'mo'],
    how = 'left'
).drop(
    'yr', 'mo', 'origin_city', 'destination_city'
).join(
    airport_mapping,
    left_on = 'origin',
    right_on = 'airport',
    how = 'left'
).with_columns(
    pl.col('airport_id').alias('origin_id')
).drop(
    'origin', 'airport_id'
).join(
    airport_mapping,
    left_on = 'destination',
    right_on = 'airport',
    how = 'left'
).with_columns(
    pl.col('airport_id').alias('destination_id')
).drop(
    'destination', 'airport_id'
)

test_fares_df

shape: (29_825, 19)
┌─────────┬─────────┬────────────┬────────────┬───┬────────────┬───────────┬───────────┬───────────┐
│ carrier ┆ flt_num ┆ flt_depart ┆ observatio ┆ … ┆ scaled_dem ┆ scaled_sh ┆ origin_id ┆ destinati │
│ ---     ┆ ---     ┆ ure_dt     ┆ n_date     ┆   ┆ and        ┆ are       ┆ ---       ┆ on_id     │
│ str     ┆ i64     ┆ ---        ┆ ---        ┆   ┆ ---        ┆ ---       ┆ u8        ┆ ---       │
│         ┆         ┆ date       ┆ date       ┆   ┆ i64        ┆ i64       ┆           ┆ u8        │
╞═════════╪═════════╪════════════╪════════════╪═══╪════════════╪═══════════╪═══════════╪═══════════╡
│ L2      ┆ 7465    ┆ 2019-01-01 ┆ 2018-11-27 ┆ … ┆ null       ┆ null      ┆ 5         ┆ 6         │
│ L2      ┆ 7067    ┆ 2019-01-01 ┆ 2018-11-27 ┆ … ┆ null       ┆ null      ┆ 5         ┆ 6         │
│ L2      ┆ 1232    ┆ 2019-01-01 ┆ 2018-11-27 ┆ … ┆ null       ┆ null      ┆ 5         ┆ 6         │
│ L1      ┆ 17783   ┆ 2019-01-03 ┆ 2018-11-29 ┆ … ┆ null       ┆ null      ┆ 6         ┆ 5         │
│ L1      ┆ 5823    ┆ 2019-01-03 ┆ 2018-11-29 ┆ … ┆ null       ┆ null      ┆ 6         ┆ 5         │
│ …       ┆ …       ┆ …          ┆ …          ┆ … ┆ …          ┆ …         ┆ …         ┆ …         │
│ L2      ┆ 7067    ┆ 2019-01-06 ┆ 2018-12-31 ┆ … ┆ null       ┆ null      ┆ 5         ┆ 6         │
│ L2      ┆ 1232    ┆ 2019-01-06 ┆ 2018-12-31 ┆ … ┆ null       ┆ null      ┆ 5         ┆ 6         │
│ L1      ┆ 1484    ┆ 2019-01-07 ┆ 2018-12-31 ┆ … ┆ null       ┆ null      ┆ 0         ┆ 5         │
│ L1      ┆ 18471   ┆ 2019-01-07 ┆ 2018-12-31 ┆ … ┆ null       ┆ null      ┆ 0         ┆ 5         │
│ L1      ┆ 1487    ┆ 2019-01-07 ┆ 2018-12-31 ┆ … ┆ null       ┆ null      ┆ 0         ┆ 5         │
└─────────┴─────────┴────────────┴────────────┴───┴────────────┴───────────┴───────────┴───────────┘

In [51]:
test_fares_df.describe()

shape: (9, 20)
┌────────────┬─────────┬───────────┬───────────┬───┬───────────┬───────────┬───────────┬───────────┐
│ statistic  ┆ carrier ┆ flt_num   ┆ flt_depar ┆ … ┆ scaled_de ┆ scaled_sh ┆ origin_id ┆ destinati │
│ ---        ┆ ---     ┆ ---       ┆ ture_dt   ┆   ┆ mand      ┆ are       ┆ ---       ┆ on_id     │
│ str        ┆ str     ┆ f64       ┆ ---       ┆   ┆ ---       ┆ ---       ┆ f64       ┆ ---       │
│            ┆         ┆           ┆ str       ┆   ┆ f64       ┆ f64       ┆           ┆ f64       │
╞════════════╪═════════╪═══════════╪═══════════╪═══╪═══════════╪═══════════╪═══════════╪═══════════╡
│ count      ┆ 29825   ┆ 29825.0   ┆ 29825     ┆ … ┆ 0.0       ┆ 0.0       ┆ 29825.0   ┆ 29825.0   │
│ null_count ┆ 0       ┆ 0.0       ┆ 0         ┆ … ┆ 29825.0   ┆ 29825.0   ┆ 0.0       ┆ 0.0       │
│ mean       ┆ null    ┆ 5715.2639 ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 3.837754  ┆ 3.816362  │
│            ┆         ┆ 73        ┆ 4         ┆   ┆           ┆           ┆           ┆           │
│ std        ┆ null    ┆ 4267.6206 ┆ null      ┆ … ┆ null      ┆ null      ┆ 1.666138  ┆ 1.665688  │
│            ┆         ┆ 99        ┆           ┆   ┆           ┆           ┆           ┆           │
│ min        ┆ L1      ┆ 564.0     ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 0.0       ┆ 0.0       │
│            ┆         ┆           ┆ 1         ┆   ┆           ┆           ┆           ┆           │
│ 25%        ┆ null    ┆ 2388.0    ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 3.0       ┆ 3.0       │
│            ┆         ┆           ┆ 2         ┆   ┆           ┆           ┆           ┆           │
│ 50%        ┆ null    ┆ 5638.0    ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 3.0       ┆ 3.0       │
│            ┆         ┆           ┆ 4         ┆   ┆           ┆           ┆           ┆           │
│ 75%        ┆ null    ┆ 6683.0    ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 5.0       ┆ 5.0       │
│            ┆         ┆           ┆ 6         ┆   ┆           ┆           ┆           ┆           │
│ max        ┆ U3      ┆ 27769.0   ┆ 2019-01-0 ┆ … ┆ null      ┆ null      ┆ 7.0       ┆ 7.0       │
│            ┆         ┆           ┆ 7         ┆   ┆           ┆           ┆           ┆           │
└────────────┴─────────┴───────────┴───────────┴───┴───────────┴───────────┴───────────┴───────────┘

## Saving

In [52]:
train_fares_df.write_parquet(
    PROCESSED_DATA_DIR.joinpath('training', 'train_full.parquet'),
    use_pyarrow = True
)

test_fares_df.write_parquet(
    PROCESSED_DATA_DIR.joinpath('test', 'test_full.parquet'),
    use_pyarrow = True
)

route_mapping.write_parquet(
    PROCESSED_DATA_DIR.joinpath('test', 'routes.parquet'),
    use_pyarrow = True
)

airport_mapping.write_parquet(
    PROCESSED_DATA_DIR.joinpath('test', 'airports.parquet'),
    use_pyarrow = True
)